.h1 {
  @include fsl(74px, 90%);
  letter-spacing: -2.96px;

  @media #{media('<')} {
    @include fsl(20px, 120%);
    letter-spacing: -0.8px;
  }
}

.h2 {
  @include fsl(56px, 100%);
  letter-spacing: -2.24px;
  @media #{media('<')} {
    @include fsl(20px, 120%);
    letter-spacing: -0.4px;
  }
}
