// fonts
$fs: 16px;

$ff-primary: 'Museo Sans Cyrl';

// colors
:root {
  --main-bg: #222b33;
  --main-bg2: #263039;
  --white: #fff;
  --red: #ea3a39;
  --blue: #3b6a88;
  --blue2: #29475f;
  --blue3: #507e9b;
  --blue-txt: #6897b5;
  --grey-border: #e3e3e3;
  --grey-border2: rgba(255, 255, 255, 0.1);
}

// grid columns
$col-count-m: 4;
$col-count-t: 8;
$col-count-d: 12;

$col-pad-m: rem(12px);
$col-pad-d: rem(60px);

$col-gap-m: rem(12px);
$col-gap-d: rem(20px);

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-t: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-t - 1})) / #{$col-count-t})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-t: '(#{$col-width-t} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

// transitions
$transition: 0.3s;
$transition-func: cubic-bezier(0.65, 0, 0.35, 1);
