.breadcrumbs {
  $comp: &;
  margin: rem(40px) 0 rem(36px);

  @media #{media('<')} {
    margin: rem(16px) 0;
    padding: 0 $col-pad-m;
    margin-left: -$col-pad-m;

    width: 100vw;
    display: flex;

    overflow-y: scroll;
    @include scrollbar-hidden;
  }

  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    z-index: 0;

    display: flex;

    @include fsl(14px, 100%);
    white-space: nowrap;
    text-transform: uppercase;

    @media #{media('<')} {
      @include fsl(10px);
    }
    @media #{media('<', xs)} {
      @include fsl(8px);
    }

    &:not(:first-child) {
      margin-left: rem(24px);
      @media #{media('<')} {
        margin-left: rem(8px);
      }

      &::before {
        content: '>';

        @include fsl(14px);
        color: #fff;

        margin-right: rem(24px);

        @media #{media('<')} {
          @include fsl(10px);
          margin-right: rem(8px);
        }
        @media #{media('<', xs)} {
          @include fsl(8px);
        }
      }
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: rem(4px);
  }

  &__link {
    color: var(--green);
    transition: $transition;

    &:hover {
      color: var(--red);
    }
  }
}

.fancybox__content .breadcrumbs {
  @media #{media('<')} {
    width: 100%;
  }
}
