.button {
  display: flex;
  align-items: center;
  padding-left: rem(32px);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: rem(6px);

  @include fsl(18px, 100%);
  letter-spacing: -0.36px;
  color: #fff;
  white-space: nowrap;

  transition: $transition;
  flex: none;

  @media #{media('<')} {
    padding-left: rem(12px);
    @include fsl(12px);
    letter-spacing: -0.24px;
  }

  &__ico {
    display: flex;
    padding: rem(20px);
    margin-left: rem(20px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    @media #{media('<')} {
      padding: rem(14px) rem(12px);
      margin-left: rem(12px);
    }

    svg {
      width: rem(20px);
      height: rem(20px);

      @media #{media('<')} {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }

  &--small {
    @include fsl(14px);
    letter-spacing: -0.28px;
    padding-left: rem(16px);

    .button__ico {
      padding: rem(6px) rem(16px);
      margin-left: rem(16px);
    }
  }

  &--blue {
    border-color: var(--blue);
    background-color: var(--blue);
  }

  &--red {
    border-color: var(--red);
    background-color: var(--red);
  }
}
