.button {
  display: flex;
  align-items: center;
  padding-left: rem(32px);

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: rem(6px);

  @include fsl(18px, 100%);
  letter-spacing: -0.36px;
  color: #fff;
  white-space: nowrap;

  transition: $transition;
  flex: none;

  &:not(.no-hover):hover {
    border-color: var(--red);
    background-color: var(--red);

    svg path {
      fill: #fff;
    }
  }

  @media #{media('<')} {
    padding-left: rem(12px);
    @include fsl(12px);
    letter-spacing: -0.24px;
  }

  &__ico {
    display: flex;
    padding: rem(20px);
    margin-left: rem(20px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    @media #{media('<')} {
      padding: rem(14px) rem(12px);
      margin-left: rem(12px);
    }

    svg {
      width: rem(20px);
      height: rem(20px);

      @media #{media('<')} {
        width: rem(16px);
        height: rem(16px);
      }

      path {
        transition: $transition;
      }
    }
  }

  &.filter {
    padding-left: 0;
    padding-right: rem(20px);

    &.active {
      border-color: var(--red);
      background-color: var(--red);

      svg path {
        fill: #fff;
      }
    }

    .button__ico {
      padding: rem(18px);
      margin-left: 0;
      margin-right: rem(20px);
      border-left: none;
      border-right: 1px solid rgba(255, 255, 255, 0.1);

      svg {
        width: rem(24px);
        height: rem(24px);
      }
    }
  }

  &--small {
    @include fsl(14px);
    letter-spacing: -0.28px;
    padding-left: rem(16px);

    .button__ico {
      padding: rem(6px) rem(16px);
      margin-left: rem(16px);
    }
  }

  &--blue {
    border-color: var(--blue);
    background-color: var(--blue);

    &:hover {
      border-color: var(--red);
      background-color: var(--red);
    }
  }

  &--red {
    border-color: var(--red);
    background-color: var(--red);
  }

  &--grey {
    color: var(--main-bg);
    border-color: var(--grey-border);
    background-color: #f7f7f7;

    .button__ico {
      border-color: var(--grey-border);
      svg path {
        fill: var(--main-bg);
      }
    }

    // &:hover {
    //   border-color: var(--red);
    //   background-color: var(--red);
    // }
  }
}

.controls {
  display: flex;
  align-items: center;
  gap: rem(8px);
}

.slider-control {
  width: rem(60px);
  height: rem(60px);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border-radius: rem(6px);
  border: 1px solid #e3e3e3;

  background: #f7f7f7;
  transition: $transition;

  @media #{media('<')} {
    width: rem(40px);
    height: rem(40px);
    border-radius: rem(6px);
  }

  &.dark {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #263039;
    backdrop-filter: blur(3px);

    svg path {
      fill: #fff;
    }
  }

  &:hover {
    border-color: var(--red);
    background: var(--red);
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    width: rem(20px);
    height: rem(20px);
    @media #{media('<')} {
      width: rem(16px);
      height: rem(16px);
    }
  }
}
