.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(.active):hover {
    .dropdown-button {
      border-color: var(--blue3);
    }
  }
  &.active {
    &:not(.select) {
      border-color: var(--blue3);
    }

    .dropdown-arrow svg {
      transform: rotate(180deg);
    }
  }
  &.select {
    // gap: rem(4px);

    .dropdown-button {
      border-radius: rem(6px);
    }
    .dropdown-inner {
      position: absolute;
      z-index: 10;
      left: 0;
      right: 0;
      border-radius: rem(6px);
      border: 1px solid var(--grey-border2);
      max-height: rem(300px);
      overflow-y: auto;
      @include styled-scrollbar;
    }

    &.active {
      .dropdown-button {
        border-color: var(--blue3);
      }
      .dropdown-inner {
        margin-top: rem(4px);
      }
    }
  }
  &.dark {
    .dropdown-button {
      color: #fff;
      background: var(--main-bg2);
      box-shadow: 0px rem(8px) rem(20px) 0px rgba(0, 0, 0, 0.12);
    }
    .dropdown-inner {
      background: var(--main-bg2);
    }
  }
  &.product {
    border: 1px solid #e3e3e3;
    border-radius: rem(6px);

    .dropdown-button {
      color: var(--main-bg);
      @include fsl(22px);
      letter-spacing: -0.44px;
      background: #f7f7f7;
      border-radius: rem(6px);
      transition: border-radius 0s;

      @media #{media('<')} {
        @include fsl(16px);
        letter-spacing: -0.32px;
        text-align: left;
      }
    }
    .dropdown-arrow {
      padding: rem(30px);
      border-left: 1px solid #e3e3e3;

      @media #{media('<')} {
        padding: rem(24px);
      }

      svg path {
        fill: var(--main-bg);
      }
    }
    .dropdown-inner {
      border: none;
    }

    &.active {
      .dropdown-button {
        border-bottom: 1px solid #e3e3e3;
        border-radius: rem(6px) rem(6px) 0 0;
        background: #fff;
      }
      .dropdown-inner {
        padding: rem(27px) rem(24px) rem(33px);
      }
    }
  }
  &.city-drop {
    @media #{media('<')} {
      .dropdown-button {
        @include fsl(14px);
        letter-spacing: -0.14px;
        padding-left: rem(16px);
      }
      .dropdown-arrow {
        padding: rem(14px);
        margin-left: rem(14px);
      }
      .dropdown-list {
        @include fsl(14px);
        letter-spacing: -0.14px;

        li {
          padding: rem(16px) rem(16px);
        }
      }
    }
  }

  &-container {
    position: relative;
    height: rem(62px);
    .dropdown {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &-button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(24px);

    @include fsl(18px);
    letter-spacing: -0.36px;
    color: #fff;

    border-radius: rem(6px) rem(6px) 0 0;
    border: 1px solid var(--grey-border2);

    transition: $transition;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-arrow {
    display: flex;
    padding: rem(20px);
    margin-left: rem(20px);
    border-left: 1px solid var(--grey-border2);
    flex-shrink: 0;

    svg {
      width: rem(20px);
      height: rem(20px);
      flex-shrink: 0;
      transition: $transition;
    }
  }
  &-drop {
  }
  &-inner {
    border: 1px solid var(--blue3);
    border-radius: 0 0 rem(6px) rem(6px);
    border-top: none;
  }
  &-list {
    @include fsl(18px);
    letter-spacing: -0.36px;

    li {
      padding: rem(17px) rem(20px);
      transition: $transition;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid var(--grey-border2);
      }

      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }
    }
  }
}
