.footer {
  margin-top: auto;
  padding: rem(24px) 0 rem(48px);

  background-color: var(--blue2);

  // @media #{media('<')} {
  //   padding: rem(40px) 0;
  // }

  &__main {
    padding-bottom: rem(64px);
    border-bottom: 2px solid var(--green-border);

    display: grid;
    grid-template-columns: repeat(2, cols(3)) 1fr;
    gap: $col-gap-d;

    // @media #{media('<')} {
    //   padding-bottom: rem(32px);
    //   grid-template-columns: cols-mob(2) cols-mob(1) cols-mob(1);
    //   gap: $col-gap-m;
    // }
    // @media #{media('<', m)} {
    //   grid-template-columns: cols-mob(2) cols-mob(2);
    //   row-gap: rem(32px);
    //   column-gap: $col-gap-m;
    // }

    &-col1 {
      padding-top: rem(62px);

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media #{media('>')} {
        gap: rem(15px);
      }

      a {
        @include fsl(20px, 120%);
        letter-spacing: -0.2px;

        // @media #{media('<')} {
        //   @include fsl(15px);
        //   letter-spacing: -0.15px;
        // }

        transition: $transition;

        &:hover {
          color: var(--red);

          svg path {
            fill: var(--red);
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: rem(12px);

    @include fsl(32px, 140%);
    letter-spacing: -0.32px;
    color: var(--red);

    transition: $transition;

    @media #{media('<')} {
      gap: rem(4px);
      @include fsl(15px, 100%);
      letter-spacing: -0.15px;
    }

    svg {
      width: rem(48px);
      height: rem(48px);

      @media #{media('<')} {
        width: rem(24px);
        height: rem(24px);
      }

      .action-fill {
        transition: $transition;
      }
    }

    &:hover {
      color: var(--green-text);

      svg .action-fill {
        fill: var(--green-text);
      }
    }
  }

  &__tel {
    @include fsl(48px, 120%);
    letter-spacing: -1.92px;
  }
  &__mail {
    @include fsl(24px, 120%);
    letter-spacing: -0.24px;
  }
  &__address {
    margin-top: rem(36px);

    &-txt {
      @include fsl(16px, 120%);
      letter-spacing: -0.16px;
    }
    &-btn {
      margin-top: rem(8px);

      @include fsl(14px);
      letter-spacing: -0.14px;
      color: var(--blue-txt);

      display: flex;
      align-items: center;
      gap: rem(4px);

      svg {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }

  &__bottom {
    padding-top: rem(64px);

    display: grid;
    grid-template-columns: repeat(3, cols(4));
    gap: $col-gap-d;

    @media #{media('<')} {
      padding-top: rem(32px);
      grid-template-columns: cols-mob(3) cols-mob(1);
      column-gap: $col-gap-m;
      row-gap: rem(32px);
    }
    @media #{media('<')} {
      grid-template-columns: cols-mob(4);
    }

    &-title {
      font-family: Bitter;
      @include fsl(32px, 100%);
      font-weight: 800;
      margin-bottom: rem(32px);

      @media #{media('<')} {
        @include fsl(24px);
        margin-bottom: rem(20px);
      }
    }
  }

  &__contacts {
    padding-top: rem(62px);

    display: grid;
    grid-template-columns: cols(3) 1fr;
    gap: $col-gap-d;

    // @media #{media('<')} {
    //   grid-template-columns: repeat(2, cols-mob(1));
    // }
    // @media #{media('<', m)} {
    //   grid-template-columns: repeat(2, cols-mob(2));
    //   gap: $col-gap-m;
    // }

    &-col {
      display: flex;
      flex-direction: column;
      // align-items: flex-start;

      // span {
      //   @include fsl(16px, 140%);
      //   color: var(--green);
      //   letter-spacing: -0.16px;
      //   margin-bottom: rem(8px);

      //   @media #{media('<')} {
      //     @include fsl(13px);
      //     letter-spacing: -0.13px;
      //     margin-bottom: rem(4px);
      //   }
      // }
      // a {
      //   @include fsl(20px, 140%);
      //   letter-spacing: -0.2px;
      //   transition: $transition;

      //   @media #{media('<')} {
      //     @include fsl(15px);
      //     letter-spacing: -0.15px;
      //   }

      //   &:not(:last-child) {
      //     margin-bottom: rem(4px);
      //   }

      //   &:hover {
      //     color: var(--red);
      //   }
      // }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(48px);
    height: rem(48px);

    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);

    svg {
      width: rem(24px);
      height: rem(24px);

      path {
        transition: $transition;
      }
    }
  }

  &__corp {
    display: grid;
    justify-content: start;
    grid-template-columns: cols(3) 1fr cols(3);
    gap: $col-gap-d;
  }

  &__policy {
    width: fit-content;
    @include fsl(14px, 140%);
    letter-spacing: -0.14px;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
      max-width: rem(335px);
    }
  }

  &__rights {
    @include fsl(14px, 140%);
    color: var(--green);
    letter-spacing: -0.14px;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }
  }

  &__author {
    margin-top: auto;
    @include fsl(14px, 140%);
    letter-spacing: -0.14px;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }

    a {
      color: var(--red);
      font-weight: 500;
    }
  }
}
