.footer {
  margin-top: auto;
  padding: rem(24px) 0 rem(48px);

  background-color: var(--blue2);

  // @media #{media('<')} {
  //   padding: rem(40px) 0;
  // }

  &__main {
    display: grid;
    grid-template-columns: repeat(2, cols(3)) 1fr;
    gap: $col-gap-d;

    padding-bottom: rem(80px);
    border-bottom: 2px solid var(--green-border);

    @media #{media('<')} {
      grid-template-columns: 100%;
      padding-bottom: rem(48px);
    }

    &-col1 {
      padding-top: rem(62px);

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(15px);

      @media #{media('<')} {
        padding-top: rem(26px);
        gap: rem(8px);
      }

      a {
        @include fsl(20px, 120%);
        letter-spacing: -0.2px;

        @media #{media('<')} {
          @include fsl(14px);
          letter-spacing: -0.14px;
        }

        transition: $transition;

        &:hover {
          color: var(--red);

          svg path {
            fill: var(--red);
          }
        }
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: rem(12px);

    @include fsl(32px, 140%);
    letter-spacing: -0.32px;
    color: var(--red);

    transition: $transition;

    @media #{media('<')} {
      gap: rem(4px);
      @include fsl(15px, 100%);
      letter-spacing: -0.15px;
    }

    svg {
      width: rem(48px);
      height: rem(48px);

      @media #{media('<')} {
        width: rem(24px);
        height: rem(24px);
      }

      .action-fill {
        transition: $transition;
      }
    }

    &:hover {
      color: var(--green-text);

      svg .action-fill {
        fill: var(--green-text);
      }
    }
  }

  &__tel {
    @include fsl(48px, 120%);
    letter-spacing: -1.92px;

    @media #{media('<')} {
      @include fsl(28px);
      letter-spacing: -1.12px;
    }
  }
  &__mail {
    @include fsl(24px, 120%);
    letter-spacing: -0.24px;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.16px;
      margin-top: rem(2px);
    }
  }
  &__address {
    margin-top: rem(36px);
    @media #{media('<')} {
      margin-top: rem(16px);
    }

    &-txt {
      @include fsl(16px, 120%);
      letter-spacing: -0.16px;

      @media #{media('<')} {
        @include fsl(13px);
        letter-spacing: -0.13px;
      }
    }
    &-btn {
      margin-top: rem(8px);

      @include fsl(14px);
      letter-spacing: -0.14px;
      color: var(--blue-txt);

      display: flex;
      align-items: center;
      gap: rem(4px);

      @media #{media('<')} {
        @include fsl(13px);
        letter-spacing: -0.13px;
      }

      svg {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }

  &__contacts {
    padding-top: rem(62px);

    display: grid;
    grid-template-columns: cols(3) 1fr;
    gap: $col-gap-d;

    @media #{media('<')} {
      display: flex;
      padding-top: rem(48px);
    }

    &-col {
      display: flex;
      flex-direction: column;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;

    width: rem(48px);
    height: rem(48px);

    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);

    @media #{media('<')} {
      width: rem(44px);
      height: rem(44px);
    }

    svg {
      width: rem(24px);
      height: rem(24px);

      @media #{media('<')} {
        width: rem(20px);
        height: rem(20px);
      }

      path {
        transition: $transition;
      }
    }
  }

  &__middle {
    display: grid;
    grid-template-columns: repeat(4, cols-g(2));
    gap: cols-g(1);
    padding-bottom: rem(48px);

    @media #{media('<')} {
      grid-template-columns: 1fr 1fr;
      gap: $col-gap-m;
    }

    &-img {
      height: rem(60px);
      margin-bottom: rem(16px);

      @media #{media('<')} {
        height: rem(56px);
        margin-bottom: rem(8px);
      }
    }
    &-txt {
      @include fsl(12px, 140%);
      letter-spacing: -0.12px;

      @media #{media('<')} {
        @include fsl(10px);
        letter-spacing: -0.1px;
      }
    }
  }

  &__corp {
    display: grid;
    justify-content: start;
    grid-template-columns: cols(3) 1fr cols(3);
    gap: $col-gap-d;

    @media #{media('<')} {
      grid-template-columns: 100%;
      gap: $col-gap-m;
    }
  }

  &__policy {
    width: fit-content;
    @include fsl(14px);
    letter-spacing: -0.14px;
    color: #fff;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }
  }

  &__rights {
    @include fsl(14px);
    color: var(--blue-txt);
    letter-spacing: -0.14px;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }
  }

  &__author {
    @include fsl(14px);
    letter-spacing: -0.14px;
    color: var(--blue-txt);

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }

    a {
      color: #fff;
      font-weight: 600;
    }
  }
}
