.form-label {
  position: relative;
  display: block;

  // &:not(:last-child) {
  //   margin-bottom: rem(8px);
  // }

  &.light {
    .form-input {
      border-color: var(--grey-border);
      background: transparent;
    }
    .form-placeholder {
      color: var(--main-bg);
    }
  }
}

.form-input {
  display: block;
  width: 100%;

  @include fsl(24px, 100%);
  letter-spacing: -0.2px;
  color: var(--green-text);

  padding: rem(48px) rem(36px) rem(24px) rem(36px);
  border-radius: rem(6px);
  border: 1px solid var(--grey-border2);
  background: var(--main-bg2);

  @media #{media('<')} {
    @include fsl(15px, 140%);
    letter-spacing: -0.15px;

    padding: rem(16px) rem(24px) rem(10px);
  }

  &:focus,
  &.active {
    border-color: var(--blue3);

    ~ .form-placeholder {
      top: rem(24px);
      @include fsl(16px);
      letter-spacing: -0.32px;

      @media #{media('<')} {
        top: rem(5px);
        @include fsl(9px);
        letter-spacing: -0.18px;
      }
    }
  }

  &.parsley-error {
    border-color: var(--red) !important;
  }
}

.form-placeholder {
  position: absolute;
  top: rem(36px);
  left: rem(36px);

  @include fsl(24px, 100%);
  color: #fff;
  letter-spacing: -0.48px;
  transition: $transition;

  @media #{media('<')} {
    @include fsl(15px, 140%);
    letter-spacing: -0.15px;
    top: rem(13px);
    left: rem(24px);
  }
}

.form-textarea {
  height: rem(190px);
  resize: none;
}

.checkbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(12px);
  cursor: pointer;
  user-select: none;

  @media #{media('<')} {
    align-items: flex-start;
  }

  &:hover .checkbox__ico rect:nth-child(2) {
    transition: stroke-opacity $transition;
    stroke-opacity: 1;
    stroke: var(--red);
  }

  &__container {
    position: relative;
    width: rem(24px);
    height: rem(24px);
    border-radius: rem(6px);
    overflow: hidden;
    flex: none;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    transition: $transition;

    &:has(.checkbox__input:checked) {
      border-color: #ea3a39;
      background-color: #ea3a39;
      .checkbox__ico {
        path {
          opacity: 1;
        }
        rect {
          &:nth-child(1) {
            fill-opacity: 1;
            fill: var(--red);
          }
          &:nth-child(2) {
            stroke-opacity: 1;
            stroke: var(--red);
          }
        }
      }
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;
  }

  &__ico {
    width: rem(24px);
    height: rem(24px);
    transition: $transition;
    // opacity: 0;
    path,
    rect {
      transition: $transition;
    }
  }

  &__caption {
    @include fsl(18px);
    letter-spacing: -0.36px;

    @media #{media('<')} {
      @include fsl(14px);
      letter-spacing: -0.14px;
    }

    a {
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .parsley-errors-list {
    width: 100%;
    order: 1;
  }
}

.form-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media #{media('<')} {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(24px);
  }

  .button {
    width: cols(2);

    @media #{media('<')} {
      width: 100%;
    }
  }
}

.form-note {
  @include fsl(16px, 140%);
  cursor: pointer;

  @media #{media('<')} {
    @include fsl(12px);
    letter-spacing: -0.1px;
  }
}

.parsley-errors-list {
  @include fsl(13px, 140%);
  letter-spacing: -0.13px;
  color: var(--red);
  margin-top: rem(4px);
}
