.fancybox__container {
  --fancybox-bg: rgba(16, 21, 23, 0.5) !important;

  &.down {
    z-index: 99 !important;
  }
}

.modal.fancybox__content {
  width: calc(#{cols-g-nc(4)} + #{$col-gap-d});
  padding: rem(60px) rem(70px);

  border-radius: rem(8px);
}

.modal {
  &__title {
    @include fsl(28px);
    letter-spacing: -0.56px;
    text-align: center;

    margin-bottom: rem(32px);
  }
}

.side-modal.fancybox__content {
  position: absolute;
  right: rem(11px);
  top: rem(12px);
  bottom: rem(12px);

  width: rem(943px);
  border-radius: rem(8px);
  overflow-y: scroll;

  padding: rem(84px) rem(120px);

  @media #{media('<')} {
    right: 0;
    top: 0;
    bottom: 0;

    width: calc(100% - #{rem(12px)});
    padding: rem(24px) rem(48px);
  }

  .f-button.is-close-btn {
    position: absolute;
    top: rem(12px);
    right: rem(12px);

    width: rem(60px);
    height: rem(60px);
    border-radius: rem(8px);
    border: 1px solid #e3e3e3;
    background: #f7f7f7;

    color: var(--main-bg);

    svg {
      width: rem(24px);
      height: rem(24px);
    }
  }
}

.side-modal {
  color: var(--main-bg);

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;

    margin: rem(36px) 0;

    @media #{media('<')} {
      @include fsl(20px, 120%);
      letter-spacing: -0.4px;

      margin: rem(24px) 0;
    }
  }

  .breadcrumbs__item:not(:first-child)::before {
    color: var(--main-bg);
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;
    text-align: center;
    margin-bottom: rem(24px);
  }
  &__txt {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: rem(24px);
  }
  &__close {
    margin: 0 auto;
  }
}

.product-modal.fancybox__content {
  position: absolute;
  inset: rem(12px);
  border-radius: rem(8px);
  padding: 0;
  // padding: rem(80px) rem(60px) rem(117px) rem(40px);

  .f-button.is-close-btn {
    position: absolute;
    top: rem(12px);
    right: rem(12px);

    width: rem(60px);
    height: rem(60px);
    border-radius: rem(8px);
    border: 1px solid #e3e3e3;
    background: #f7f7f7;

    color: var(--main-bg);

    svg {
      width: rem(24px);
      height: rem(24px);
    }
  }
}

.product-top {
  display: grid;
  grid-template-columns: 1fr rem(940px);
  gap: rem(100px);
  border-bottom: 1px solid #e3e3e3;

  .breadcrumbs {
    margin-top: 0;
    &__item:not(:first-child)::before {
      color: var(--main-bg);
    }
  }

  &__label {
    @include fsl(20px);
    color: var(--blue);
    margin-bottom: rem(12px);
  }

  &__title {
    @include fsl(56px);
    letter-spacing: -2.24px;
  }
  &__subtitle {
    @include fsl(28px);
    letter-spacing: -0.56px;
    margin-bottom: rem(20px);
  }
  &__text {
    @include fsl(18px);
    letter-spacing: -0.36px;
    margin: rem(20px) 0;
  }

  &__block {
    margin: rem(60px) 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__where {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px);
  }
}

.product-pic-container {
}

.product-info {
  padding: rem(80px) rem(60px);
  border-left: 1px solid #e3e3e3;
}

.product-standart {
  &-row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px);
  }
  &-item {
    display: flex;
    padding: rem(24px) rem(29px);
    border: 1px solid var(--grey-border);
    border-radius: rem(6px);
    background-color: #f7f7f7;

    img {
      height: rem(31px);
    }
  }
  &-list {
    margin-top: rem(20px);
    display: flex;
    flex-direction: column;
    gap: rem(12px);

    @include fsl(18px);
    letter-spacing: -0.36px;

    a {
      text-decoration: underline;
    }
  }
}

.product-prop {
  &-row {
    margin-top: rem(20px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(8px);
  }
  &-item {
    img {
      height: rem(48px);
    }
  }
}
