.fancybox__container {
  --fancybox-bg: rgba(16, 21, 23, 0.5) !important;

  &.down {
    z-index: 99 !important;
  }
}

.modal.fancybox__content {
  width: calc(#{cols-g-nc(4)} + #{$col-gap-d});
  padding: rem(60px) rem(70px);

  border-radius: rem(8px);

  @media #{media('<')} {
    width: rem(336px);
    padding: rem(24px);
  }
  @media #{media('<', m)} {
    width: calc(100vw - #{rem(40px)});
  }
}

.modal {
  &__title {
    @include fsl(28px, 120%);
    letter-spacing: -0.56px;
    text-align: center;

    margin-bottom: rem(32px);

    @media #{media('<')} {
      @include fsl(20px);
      letter-spacing: -0.8px;
      margin-bottom: rem(16px);
    }
  }
}
.center-modal.fancybox__content {
  .f-button.is-close-btn {
    --f-button-width: #{rem(60px)};
    --f-button-height: #{rem(60px)};
    --f-button-border-radius: #{rem(6px)} !important;
    --f-button-svg-width: #{rem(20px)};
    --f-button-svg-height: #{rem(20px)};
    --f-button-color: #222b33 !important;
    --f-button-bg: #fff;
    --f-button-hover-bg: var(--red);

    top: 0;
    right: rem(-68px);
    opacity: 1;
    outline: none;

    @media #{media('<')} {
      top: rem(16px) !important;
      right: rem(16px) !important;
      --f-button-width: #{rem(32px)};
      --f-button-height: #{rem(32px)};
      --f-button-bg: #f7f7f7 !important;
      border: 1px solid #e3e3e3 !important;
    }
  }
}

.side-modal.fancybox__content {
  position: absolute;
  right: rem(11px);
  top: rem(12px);
  bottom: rem(12px);

  width: rem(943px);
  border-radius: rem(8px);
  overflow-y: scroll;

  padding: rem(84px) rem(120px);

  @media #{media('<')} {
    right: 0;
    top: 0;
    bottom: 0;

    width: calc(100% - #{rem(12px)});
    padding: rem(24px) rem(48px);
    border-radius: 0;
  }
  @media #{media('<', m)} {
    padding: rem(24px);
  }

  .f-button.is-close-btn {
    position: absolute;
    top: rem(12px) !important;
    right: rem(12px) !important;

    width: rem(60px);
    height: rem(60px);
    border-radius: rem(8px);
    border: 1px solid #e3e3e3;
    background: #f7f7f7;

    color: var(--main-bg);

    @media #{media('<')} {
      width: rem(32px);
      height: rem(32px);
      border-radius: rem(6px);
    }

    svg {
      width: rem(24px);
      height: rem(24px);

      @media #{media('<')} {
        width: rem(18px);
        height: rem(18px);
      }
    }
  }
}

.side-modal {
  color: var(--main-bg);

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;

    margin: rem(36px) 0;

    @media #{media('<')} {
      @include fsl(20px, 120%);
      letter-spacing: -0.4px;

      margin: rem(24px) 0;
    }
  }

  .breadcrumbs {
    margin-top: 0;

    &__item {
      max-width: 50%;
      &:not(:first-child)::before {
        color: var(--main-bg);
      }
      &:last-child {
        @media #{media('<')} {
          max-width: 20%;
        }
      }
    }
    &__text {
      max-width: 100%;

      .text {
        max-width: rem(500px);
        width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;

        @media #{media('<')} {
          max-width: rem(130px);
        }
        @media #{media('<', xs)} {
          max-width: rem(80px);
        }
      }
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;
    text-align: center;
    margin-bottom: rem(24px);

    @media #{media('<')} {
      @include fsl(20px);
      letter-spacing: -0.56px;
      margin-bottom: rem(16px);
    }
  }
  &__txt {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: rem(24px);

    @media #{media('<')} {
      @include fsl(14px);
      letter-spacing: -0.14px;
      margin-bottom: rem(10px);
    }
  }
  &__close {
    margin: 0 auto;
  }
}

.news-detail-info {
  margin: rem(36px) 0;

  @media #{media('<')} {
    margin: rem(24px) 0;
  }
}
