extends ../app

include ../components/breadcrumbs
include ../components/cards/product-card

block content
  .container
    +breadcrumbs(page='Каталог')
    h1.h1 Каталог

    .catalog-top
      div
        .catalog-top__title Защитные группы
      div
        .catalog-top__title Фильтры
        .catalog-top__drops
          - for (i=0;i<4;i++)
            .dropdown(data-dropdown)
              button.dropdown-button(data-dropdown-button)
                span Отрасли промышленности
                .dropdown-arrow
                  +arrow-down
              .dropdown-drop(data-dropdown-drop, style='display: none')
                .dropdown-inner Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem atque exercitationem dolore, ullam voluptate nobis officia numquam neque dolor id voluptates unde nulla et ad obcaecati error reprehenderit tenetur ducimus?

  .search-result
    .search-result__table
      - for (i=0;i<8;i++)
        +card

    button.button.button--blue.more-button
      span Показать еще
      .button__ico
        +arrow-down
