extends ../app

include ../components/breadcrumbs
include ../components/cards/product-card

block content
  -
    const filters = [
      'Механические воздействия',
      'Порезы',
      'Вибрации',
      'Ударные воздействия',
      'Статическое электричество',
      'Химические факторы',
      'Вода и растворы нетоксичных веществ',
      'Пониженные температуры',
      'Повышенные температуры',
      'Электрический ток',
      //- 'Термические риски электрической дуги'
    ]

  .container
    +breadcrumbs(page='Каталог')
    h1.h1 Каталог

    .catalog-top
      .only-desktop
        .catalog-top__title Защитные группы
        .catalog-top__row
          .catalog-filter-all
            +filter-all
            span Все

          each el, i in filters
            a.button.filter(href='')
              .button__ico
                +filters(i)
              span= el

      div
        .catalog-top__title.only-desktop Фильтры
        .catalog-top__drops.only-desktop
          each el in ['Отрасли промышленности', 'Условия применения', 'Основа', 'Покрытие']
            .dropdown-container
              .dropdown.dark.select(data-dropdown)
                button.dropdown-button(data-dropdown-button)
                  span= el
                  .dropdown-arrow
                    +arrow-down
                .dropdown-drop(data-dropdown-drop, style='display: none')
                  .dropdown-inner
                    ul.dropdown-list
                      li Нефть и нефтепереработка
                      li Газовая промышленность
                      li Электроэнергетика
                      li Атомная энергетика
                      li Пищевая промышленность
                      li Химическая промышленность

        .catalog-top__buttons.only-mobile
          button.catalog-top__button(data-fancy-button='filter-group')
            span Защитные группы
            +plus
          button.catalog-top__button
            span Фильтры
            +plus

        .catalog-top__checks
          label.checkbox
            .checkbox__container
              input.checkbox__input(type='checkbox', checked, required)
              +checkbox.checkbox__ico
            .checkbox__caption Новинки
          label.checkbox
            .checkbox__container
              input.checkbox__input(type='checkbox', required)
              +checkbox.checkbox__ico
            .checkbox__caption Произведено в России

          button.catalog-top__reset.only-desktop
            +reset
            span Сбросить

  .search-result
    .search-result__table
      - for (i=0;i<16;i++)
        +card

    button.button.button--blue.more-button
      span Показать еще
      .button__ico
        +arrow-down

block modals
  include ../components/modals/product-modal
  include ../components/modals/groups-filter-modal
  include ../components/modals/groups-filter-modal
