extends ../app

block variables
  -
    var index = true

block header
block footer

//- block grid-test

block content
  .container
    ul.index-list
      -
        const routes = [
          {
            "href": "main",
            "title": "Главная"
          },
          {
            "href": "search",
            "title": "Поиск"
          },
          {
            "href": "search-empty",
            "title": "Поиск пустой"
          },
          {
            "href": "catalog",
            "title": "Каталог"
          },
          {
            "href": "lk-profile",
            "title": "[ЛК] Профиль"
          },
          {
            "href": "lk-distributor",
            "title": "[ЛК] Дистрибьюторское соглашение"
          },
          {
            "href": "lk-marketing",
            "title": "[ЛК] Программа маркетинговой поддержки"
          },
          {
            "href": "lk-materials",
            "title": "[ЛК] POS-материалы"
          },
          {
            "href": "lk-loyalty",
            "title": "[ЛК] Программа лояльности"
          },
          {
            "href": "news",
            "title": "Новости"
          },
          {
            "href": "library",
            "title": "Библиотека защиты"
          }, 
          {
            "href": "technologies",
            "title": "Технологии"
          },
          {
            "href": "contacts",
            "title": "Контакты"
          },
          {
            "href": "404",
            "title": "404"
          },
        ]
      each route in routes
        li
          a(href=route.href) #{ route.title }
