extends ../app

block header
block footer

//- block grid-test

block content
  .container
    ul.index-list
      -
        const routes = [
          {
            "href": "main",
            "title": "Главная"
          },
        ]
      each route in routes
        li
          a(href=route.href) #{ route.title }
