extends ../app

block variables
  //- - preloader = true

include ../components/breadcrumbs
include ../components/cards/news-card

block content
  .container
    +breadcrumbs(page='Библиотека защиты')
    h1.h1 Библиотека защиты

    .tabs.news-filters
      .tabs__item.active Все
      button.tabs__item Инструкции
      button.tabs__item Регламенты
      button.tabs__item Перчатки

    .news-table
      - for (i=0;i<10;i++)
        +news-card(
          img='library-0',
          tag='Перчатки',
          title='Инструкции по использованию, уходу и утилизации СИЗ рук'
        )
