extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(items=['личный кабинет'], page='Программа лояльности')
    h1.h1 Программа лояльности

    .lk-body
      +sidebar(active=0)

      .lk-main
