extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(items=['личный кабинет'], page='Программа лояльности')
    h1.h1 Программа лояльности

    .lk-body
      +sidebar(active=0, ttl='Программа лояльности')

      .loyal-column
        .loyal-top
          .loyal-top__col
            .loyal-top__title Текущая скидка
            .loyal-top__level 9%

          .loyal-top__main
            .loyal-top__title Планы продаж

            .loyal-top__main-inner
              .loyal-top__main-col
                .dropdown.dark.select(data-dropdown)
                  button.dropdown-button.dropdown-button(data-dropdown-button)
                    span I квартал 1-ое полугодие
                    .dropdown-arrow
                      +arrow-down
                  .dropdown-drop(data-dropdown-drop, style='display: none')
                    .dropdown-inner
                      ul.dropdown-list
                        li Москва
                        li Краснодар

                .loyal-top__main-num 112 500 ₽

              .loyal-top__main-col
                .dropdown.dark.select(data-dropdown)
                  button.dropdown-button.dropdown-button(data-dropdown-button)
                    span 2023
                    .dropdown-arrow
                      +arrow-down
                  .dropdown-drop(data-dropdown-drop, style='display: none')
                    .dropdown-inner
                      ul.dropdown-list
                        li Москва
                        li Краснодар

                .loyal-top__main-num 450 000 ₽

        //- .loyal-middle

        .loyal-text
          .lk-main__subtitle Производитель имеет право предоставить дополнительные скидки от цены, указанной в колонке «Дистрибьютор» Спецификации, на следующий условиях
          ul.list-red-dot
            li
              span При 100% предоплате заказа Дистрибьютору на данный заказ предоставляется единовременная скидка в размере 2%.
            li
              span При выполнении квартальных планов по объему закупок продукции Производителя, зафиксировано в Приложении №1, Дистрибьютору представляется скидка в размере 2% на закупки продукции в течении квартала, следующего за отчетным. Объем закупки считается суммарная стоимость всех товарных накладных за вычетом стоимости возвращенной продукции.
            li
              span При выполнении годового плана по объему закупок* продукции Производителя, зафиксированного в Приложении №1 Дистрибьютору предоставляется скидка в следующем размере:
            li
              span При современном предоставлении Дистрибьютором полностью и подробно отчета по форме Приложения №3 Дистрибьютору предоставляется скидка в размере 1% в течении квартала, следующего за отчетным

          .loyal-text__note *Объемом закупки считается суммарная стоимость всех товарных накладных за вычетом стоимости возвращенной продукции и приобретенной согласно системе цен и скидов, указанных в настоящем Соглашении. Данная скидка предоставляется Производителем Дистрибьютору в течении года, следующего за отчетным
