extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(
      items=['личный кабинет'],
      page='Программа маркетинговой поддержки'
    )
    h1.h1(data-aos='fade-up') Программа маркетинговой&nbsp; #[br.only-desktop] поддержки

    .lk-body
      +sidebar(active=3, ttl='Программа маркетинговой поддержки')

      .lk-main.txt-inner(data-aos='fade-up')
        p.lk-main__txt Каждый Дистрибьютор имеет возможность воспользоваться программой маркетинговой поддержки (МП) с целью продвижения продукции торговой марки Manipula Specialist®.

        h3.lk-main__subtitle Основные правила и условия предоставления бюджета

        -
          const list = ['Бюджет формируется исходя из суммы отгрузок по прайс-листу Дистрибьютора с учетом наработанной скидки по стандартным условиям. Отгрузки по специальным ценам не учитываются.', 'Размер бюджета — не более 1% от объема закупок за предыдущий квартал.', 'Выполнение квартального плана, установленного в Приложении №1 — обязательно. В противном случае бюджет не начисляется.', 'Может быть использован только в течение квартала, следующего за отчетным. Неиспользованный бюджет на следующий квартал не переносится.', 'Может быть использован только на участие в данной программе (Приложение №6).']

        ul.list-decimal.lk-main__list
          each el in list
            li
              span= el
