extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(items=['личный кабинет'], page='POS-материалы')
    h1.h1(data-aos='fade-up') POS-материалы

    .lk-body
      +sidebar(active=4, ttl='POS-материалы')

      .lk-main(data-aos='fade-up')
        h2.lk-main-title Материалы для оформления сайта

        .documents-list
          - for (i=0;i<3;i++)
            +document(i)

        h2.lk-main-title Рекламные материалы

        .tabs.mb24
          .tabs__item.active Каталоги
          button.tabs__item Стенды
          button.tabs__item Флаеры

        .documents-list
          +document
