extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(items=['личный кабинет'], page='Профиль')
    h1.h1 Профиль

    .lk-body
      +sidebar(active=1)

      .lk-main
