extends ../app

include ../components/breadcrumbs
include ../components/cards/document-card
include ../components/lk-sidebar

block content
  .container
    +breadcrumbs(items=['личный кабинет'], page='Профиль')
    h1.h1 Профиль

    .lk-body
      +sidebar(active=1, ttl='Профиль')

      .lk-main.profile
        -
          const items = [
            {
              title: 'Имя',
              value: 'Игорев Спартак Давидович'
            },
            {
              title: 'Название организации',
              value: 'ООО «Снабжение»'
            },
            {
              title: 'Почта',
              value: 'spartak_1991@gmail.com'
            },
            {
              title: 'ИНН',
              value: '7719456204'
            },
            {
              title: 'Телефон',
              value: '+7 981 157 9290'
            },
            {
              title: 'Город',
              value: 'Санкт-Петербург'
            },
          ]
        each el in items
          .profile__item
            .profile__title= el.title
            .profile__value= el.value

        .profile__note
          +note
          span Для смены контактных данных, пароля или реквизитов организации, пожалуйста, свяжитесь с вашим персональным менеджером
