extends ../app

block variables
  //- - preloader = true

include ../components/breadcrumbs
include ../components/cards/news-card

block content
  .container
    +breadcrumbs(page='Новости')
    h1.h1 Новости

    .news-filters
      .news-filters__item.active Все
      button.news-filters__item Новости компании
      button.news-filters__item Отраслевые новости
      button.news-filters__item Конференции

    .news-table
      - for (i=0;i<12;i++)
        +news-card(
          img='news-0',
          date='6 марта 2023',
          tag='Новости компании',
          title='Выставка KIOSH-2023 в Казахстане 24-26 мая'
        )
