extends ../app

include ../components/breadcrumbs

block content
  .container
    +breadcrumbs(page='Где купить')
    h1.h1 Где купить

    .where-buy-top
      .tabs.big
        a.tabs__item(href) Юридическим лицам и ИП
        .tabs__item.active Физическим лицам

    .where-buy-fiz
      div
        .where-buy-fiz__title Россия
        .where-buy-fiz__row
          - for (i=0;i<6;i++)
            a.where-buy-fiz__item(href, target='_blank')
              img(src=`assets/images/where-${i}.png`, alt='')
              +link

      div
        .where-buy-fiz__title Беларусь
        .where-buy-fiz__row
          a.where-buy-fiz__item(href, target='_blank')
            img(src='assets/images/where-3.png', alt='')
            +link

      div
        .where-buy-fiz__title Казахстан
        .where-buy-fiz__row
          a.where-buy-fiz__item(href, target='_blank')
            img(src='assets/images/where-3.png', alt='')
            +link
