@function font-url($filename-without-extension) {
  @return url('../assets/fonts/#{$filename-without-extension}.woff2');
}

$files: (
  ('MuseoSansCyrl_100', 100),
  ('MuseoSansCyrl_300', 300),
  ('MuseoSansCyrl_500', 500),
  ('MuseoSansCyrl_700', 700),
  ('MuseoSansCyrl_900', 900)
);

@each $filename, $font-weight in $files {
  @font-face {
    font-family: $ff-primary;
    src: font-url($filename) format('woff2');
    font-weight: $font-weight;
    font-display: swap;
  }
}

// @font-face {
//   font-family: Bitter;
//   src: url('../assets/fonts/Bitter-ExtraBold.woff') format('woff');
//   font-weight: 800;
//   font-display: swap;
// }
