#fancy-modal-lib.side-modal(style='display: none')
  +breadcrumbs(
    items=['Библиотека защиты'],
    page='Инструкции по использованию, уходу и утилизации СИЗ рук'
  )
  h2.side-modal__title Инструкции по использованию, уходу и утилизации СИЗ рук

  .news-item__info.news-detail-info
    .news-item__date 6 марта 2023
    .news-item__tag
      span.red [
      | &nbsp;
      span Инструкции
      | &nbsp;
      span.red ]

  .article
    p Для обеспечения полной и надежной защиты рук важно не только правильно подобрать размер и тип перчаток в соответствии с видом выполняемых работ, но и следовать правилам использования, ухода и их утилизации.
    p Например, перчатки ограниченного срока использования (одноразовые) не предназначены для повторного применения, в то время как многоразовые перчатки, при правильном использовании и уходе, будут защищать ваши руки от негативного воздействия внешней среды на протяжении долгого времени.
    p Подробная информация представлена в наших pdf-инструкциях, которые вы можете скачать или распечатать для дальнейшего использования:
    p Обращаем внимание, что данные правила не распространяются на перчатки медицинского назначения! За дополнительной информацией обращайтесь к изготовителям продукции.
