#fancy-modal-login.modal.center-modal(style='display: none')
  h2.modal__title Личный кабинет дистрибьютора
  form.write-us-form(data-login-form)
    label.form-label.light
      input.form-input.light(type='text', required, data-input)
      span.form-placeholder Логин
    label.form-label.light
      input.form-input.light(type='password', required, data-input)
      span.form-placeholder Пароль
    button.button.button--blue.write-us-form__submit(type='submit')
      span Войти
