#fancy-modal-news.side-modal(style='display: none')
  +breadcrumbs(
    items=['новости'],
    page='Итоги участия в международной специализированной выставке «Рабочая одежда. Безопасность и охрана труда»'
  )
  h2.side-modal__title Итоги участия в международной специализированной выставке «Рабочая одежда. Безопасность и охрана труда»

  .news-item__info.news-detail-info
    .news-item__date 6 марта 2023
    .news-item__tag
      span.red [
      | &nbsp;
      span Новости компании
      | &nbsp;
      span.red ]

  .article
    p С 5 по 8 апреля 2022 года в Минске прошла выставка «Рабочая одежда. Безопасность и охрана труда». В этом году мероприятие стало действительно масштабным, так как в него было включено несколько международных специализированных выставок: «Металлообработка», «Машиностроение», «Сварка и резка», «Порошковая металлургия», «Защита от коррозии. Покрытия», «Автоматизация. Электроника».
    p В выставке приняли участие компании из Беларуси, России, Германии, Китая, Турции, Пакистана.

    h3 Собственный стенд
    p Продукция нашего бренда была представлена на собственном стенде, где были продемонстрированы новинки и популярные модели нашего ассортимента. На стенде с нами работали наши партнёры и коллеги из белорусской компании «Безопасность Труда». Стенд также украсили рабочие костюмы компании «Спецобъединение Юго-Запад».

    picture
      source(srcset='assets/images/news-0.webp', type='image/webp')
      img(src='assets/images/news-0.jpg', alt='')

    h3 Собственный стенд
    p Продукция нашего бренда была представлена на собственном стенде, где были продемонстрированы новинки и популярные модели нашего ассортимента. На стенде с нами работали наши партнёры и коллеги из белорусской компании «Безопасность Труда». Стенд также украсили рабочие костюмы компании «Спецобъединение Юго-Запад».

    h3 Маркированный список
    ul
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»

    h3 Нумерованный список
    ol
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»

    h3 Выделение текста
    p Продукция #[u нашего бренда] была представлена #[strong на собственном стенде], где были #[em продемонстрированы новинки] и популярные модели.

    picture
      source(srcset='assets/images/news-1.webp', type='image/webp')
      img(src='assets/images/news-1.jpg', alt='')
