include ../breadcrumbs

mixin policy-modal
  #fancy-modal-policy.side-modal(style='display: none')
    +breadcrumbs(page='Политика конфиденциальности')
    h2.side-modal__title Политика конфиденциальности

    .policy-text
      p Настоящая Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую Сайт ( могут получить о пользователе во время использования им сайта. Согласие пользователя на предоставление персональной информации, данное им в соответствии с настоящей Политикой в рамках отношений с одним из лиц, входящих, распространяется на все лица. Использование Сайт а означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации; в случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов.

      ol
        li
          span Персональная информация пользователей, которую получает и обрабатывает Сайт

          ul
            li
              span В рамках настоящей Политики под «персональной информацией пользователя» понимаются:

              ul
                li
                  span Персональная информация, которую пользователь предоставляет о себе самостоятельно заполнении форм обратной связи, включая персональные данные пользователя. Обязательная для предоставления Сервисов (оказания услуг) информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.
                li
                  span Данные, которые автоматически передаются в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP - адрес, инф ормация из cookie, информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), время доступа, адрес запрашиваемой страницы.

            li
              span Настоящая Политика применима только к Сайт . Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые пользователь может перейти по ссылкам, доступным на сайтах Сайт, в том числе в результатах поиска. На таких сайтах у пользователя може т собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.
            li
              span Сайт в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако Сайт исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию по вопросам, предлагаемым в форме регистрации, и поддерживает эту информацию в актуальном состоянии.

        li
          span Цели сбора и обработки персональной информации пользователей
