#fancy-modal-prod.side-modal(style='display: none')
  h2.side-modal__title Россия, Барнаул

  .article
    picture
      source(srcset='assets/images/prod.webp', type='image/webp')
      img(src='assets/images/prod.jpg', alt='')

    p Мы производим на территории России более 30% нашего ассортимента, используя в том числе отечественное сырье и технологии. Мы доверяем российскому производству, которое год за годом становится все более конкурентоспособным.

    p На территории нашей фабрики в Барнауле мы создаем инновационные защитные решения для работы в условиях термических рисков, а также СИЗ рук от порезов из пара-арамидного волокна #[a(href) Kevlar®] и высокомолекулярного волокна #[a(href) Dyneema® Diamond Technology].
