#fancy-modal-success.modal.center-modal.success(style='display: none')
  h2.success__title Отправлено
  .success__txt Спасибо. Мы свяжемся с вами #[br] в ближайшее время.
  button.button.button--blue.success__close(data-fancybox-close)
    span Закрыть
    .button__ico
      +double-arrow-right
