#fancy-subscribe-success.modal.center-modal.success(style='display: none')
  h2.success__title Подписка оформлена
  button.button.button--blue.success__close(data-fancybox-close)
    span Закрыть
    .button__ico
      +double-arrow-right
