#fancy-modal-tech.side-modal(style='display: none')
  +breadcrumbs(items=['Технологии'], page='Shelter Micro™')
  h2.side-modal__title Shelter Micro™

  .news-item__info.news-detail-info
    .news-item__tag
      span.red [
      | &nbsp;
      span Натуральные материалы
      | &nbsp;
      span.red ]

  .article
    p Shelter MicroTM – это высокотехнологичный синтетический теплоизолирующий материал, разработанный из ультратонких полиэфирных микроволокон. Несмотря на легкий вес и минимальный объем обеспечивает высокий уровень теплозащиты, сохраняя мягкость и воздухопроницаемость.

    picture
      source(srcset='assets/images/tech-mod-0.webp', type='image/webp')
      img(src='assets/images/tech-mod-0.jpg', alt='')

    p Разработчиком материала является российская компания ФНМ «Весь Мир» . Продукция фабрики отвечает самым высоким требованиям по качеству и соответствует требованиям международных стандартов ISO 9000 и OekoTex Standard 100.

    picture
      source(srcset='assets/images/tech-mod-1.webp', type='image/webp')
      img(src='assets/images/tech-mod-1.jpg', alt='')

    p К преимуществам материала можно отнести его технологичность, экологичность и безопасность

    ul
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»
      li Несколько международных специализированных выставок: «Металлообработка», «Машиностроение».
      li Партнёры и коллеги из белорусской компании «Безопасность Труда»

    picture
      source(srcset='assets/images/tech-mod-3.webp', type='image/webp')
      img(src='assets/images/tech-mod-3.jpg', alt='')

    p Shelter MicroTM применяется для производства функциональной верхней одежды и аксессуаров.

    p В нашем ассортименте есть три модели, созданные с применением данного материала: Ямал, Ханты и Эвены. Такие перчатки предназначены для использования в климатических регионах IA («особый»), II (III) и III (II) не более 3 часов непрерывного пребывания на холоде. При отсутствии ветра — не более 1 часа до -35 °С.
