mixin write-us-modal
  #fancy-modal-write.modal
    h2.modal__title Написать нам

    form
      label.form-label
        input.form-input(type='text', required, data-input)
        span.form-placeholder ФИО
