.fancybox__content.catalog-filters-modal {
  width: calc(100% - #{rem(24px)});
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: rem(24px) rem(12px);
  background: var(--main-bg);
  color: #fff;

  overflow-y: auto;
  @include scrollbar-hidden;
}

.catalog-filters {
  &__title {
    @include fsl(20px);
    letter-spacing: -0.4px;
    margin-bottom: rem(40px);

    &.sec {
      margin-bottom: rem(24px);
    }
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: rem(24px);
    padding: rem(12px);
    border-top: 1px solid #3c454d;

    button {
      width: 100%;
      height: rem(44px);
      justify-content: center;
    }
  }
}

.catalog-filter-list {
  margin-left: rem(-12px);

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(12px) rem(16px) rem(12px) rem(12px);
    border-bottom: 1px solid #3c454d;

    @include fsl(15px);
    letter-spacing: -0.15px;

    svg path {
      fill: #fff;
    }

    &:first-child {
      border-top: 1px solid #3c454d;
    }
  }
}
.catalog-filter-list2 {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
}

.catalog-filter-back {
  margin-bottom: rem(40px);

  svg {
    width: rem(32px);
    height: rem(32px);

    path {
      fill: #fff;
    }
  }
}
