.policy-modal.fancybox__content {
  border-radius: 0;
  bottom: 0;

  .breadcrumbs__item:last-child {
    max-width: unset;
    .text {
      max-width: unset;
    }
  }
}

.policy-text {
  p {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;

    @media #{media('<')} {
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
    }

    &:not(:first-child) {
      margin-top: rem(24px);

      @media #{media('<')} {
        margin-top: rem(12px);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(36px);

      @media #{media('<')} {
        margin-bottom: rem(24px);
      }
    }
  }

  ul,
  ol {
    counter-reset: list 0;

    display: flex;
    flex-direction: column;
    gap: rem(36px);

    @include fsl(28px);
    letter-spacing: -0.56px;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
    }

    li {
      counter-increment: list 1;

      display: flex;
      flex-wrap: wrap;
      row-gap: rem(24px);
      column-gap: rem(12px);

      @media #{media('<')} {
        row-gap: rem(12px);
      }

      &::before {
        content: counters(list, '.') '.';
        color: var(--red);
      }

      span {
        width: 90%;
        flex-grow: 1;
      }
      p {
        margin: 0;
      }

      li {
        row-gap: rem(12px);
        @media #{media('<')} {
          row-gap: rem(8px);
        }
      }

      ul,
      ol {
        gap: rem(12px);

        @include fsl(20px, 140%);
        letter-spacing: -0.2px;

        @media #{media('<')} {
          gap: rem(8px);

          @include fsl(14px);
          letter-spacing: -0.14px;
        }
      }
    }
  }
}
