.write-us-form {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  .form-textarea {
    height: rem(120px);
  }

  &__bottom {
    margin-top: rem(12px);

    display: flex;
    flex-direction: column;
    gap: rem(20px);

    @media #{media('<')} {
      margin-top: rem(8px);
      gap: rem(16px);
    }
  }

  &__submit {
    height: rem(60px);
    justify-content: center;
    padding-left: 0;

    @media #{media('<')} {
      height: rem(50px);
    }
  }
}
