.news-item {
  cursor: pointer;
  @media #{media('<')} {
    width: rem(260px);
    flex: none;
  }

  &:hover {
    .news-item__img img {
      transform: scale(1.1);
    }
    // .news-item__title {
    //   color: var(--red);
    // }
  }

  &__img {
    display: block;
    width: 100%;
    height: rem(240px);
    border-radius: rem(8px);
    overflow: hidden;

    @media #{media('<')} {
      height: rem(190px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition;
    }
  }

  &__info {
    margin-top: rem(20px);
    @include fsl(14px);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: rem(24px);

    @media #{media('<')} {
      margin-top: rem(16px);
      @include fsl(10px);
      gap: rem(8px);
    }
  }

  &__title {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    margin-top: rem(12px);
    @include cropText(2);
    transition: $transition;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-top: rem(8px);
    }
  }
}
