.about-top {
  position: relative;
  display: flex;
  height: rem(520px);
  border-radius: rem(8px);
  overflow: hidden;

  @media #{media('<')} {
    height: rem(350px);
    border-radius: rem(4px);
    margin-top: rem(8px);
  }

  &__text {
    position: absolute;
    top: rem(40px);
    left: rem(40px);

    @media #{media('<')} {
      top: rem(8px);
      left: rem(8px);
    }
  }

  &__bg {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about-bg {
  @media #{media('>')} {
    background-image: url('assets/images/about-bg.png');
    background-size: 100%;
  }
  @media #{media('>', m)} and #{media('<')} {
    background-image: url('assets/images/about-bg-tablet.png');
    background-size: 60%;
    background-position: top right;
  }
  @media #{media('<', m)} {
    background-image: url('assets/images/about-bg-mob.png');
    background-size: 100%;
  }

  background-repeat: no-repeat;
}

.about-second {
  position: relative;
  z-index: 10;
  padding-top: rem(120px);
  margin-bottom: rem(-130px);

  @media #{media('<')} {
    display: grid;
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
    margin-bottom: rem(12px);
    padding-top: rem(48px);
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
    gap: rem(20px);
  }
}

.about-big-text {
  @include fsl(56px);
  letter-spacing: -2.24px;
  margin-bottom: rem(60px);

  @media #{media('<')} {
    @include fsl(20px, 120%);
    letter-spacing: -0.4px;
    margin-bottom: 0;
  }
}

.about-blockquote {
  width: rem(586px);
  padding: rem(40px);
  border-radius: rem(8px);
  background: var(--blue);

  margin-left: cols-g(6);

  @media #{media('<')} {
    width: 100%;
    padding: rem(20px);
    border-radius: rem(4px);
    margin: 0;
  }
  @media #{media('>')} {
    margin-bottom: rem(-130px);
  }

  &__title {
    @include fsl(28px);
    letter-spacing: -0.56px;
    margin-bottom: rem(24px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(12px);
    }
  }

  &__text {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
    display: flex;
    gap: rem(12px);

    @media #{media('<')} {
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
      gap: rem(7px);
    }

    &::before {
      content: '[';
      color: var(--red);
      @include fsl(14px, 140%);
      margin-top: rem(3px);

      @media #{media('<')} {
        letter-spacing: -0.14px;
      }
    }
  }
}

.about-slider {
  position: relative;
  border-radius: rem(8px);
  overflow: hidden;

  @media #{media('>')} {
    margin: 0 cols-g(1);
  }
  @media #{media('<')} {
    border-radius: rem(4px);
  }

  .swiper {
    height: rem(720px);

    @media #{media('<')} {
      height: rem(360px);
    }
    @media #{media('<', m)} {
      height: rem(170px);
    }
  }

  .swiper-slide {
    display: flex !important;

    picture {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4, cols(3));
  gap: $col-gap-d;
  margin: rem(120px) 0;

  @media #{media('<')} {
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
    margin: rem(48px) 0;
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
  }

  &__item {
    padding: rem(40px);
    border-radius: rem(8px);

    @media #{media('<')} {
      padding: rem(24px);
      border-radius: rem(4px);
    }

    &:nth-child(2n + 1) {
      background: var(--blue2);
    }
    &:nth-child(2n + 2) {
      background: var(--blue);
    }
  }
  &__ico {
    height: rem(70px);
    margin-bottom: rem(70px);

    @media #{media('<')} {
      height: rem(45px);
      margin-bottom: rem(16px);
    }
  }
  &__text {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
    display: flex;
    gap: rem(12px);

    @media #{media('<')} {
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
      gap: rem(7px);
    }

    &::before {
      content: '[';
      color: var(--red);
      @include fsl(14px, 140%);
      margin-top: rem(3px);

      @media #{media('<')} {
        letter-spacing: -0.14px;
      }
    }
  }
}

.about-title {
  @include fsl(56px);
  letter-spacing: -2.24px;

  @media #{media('<')} {
    @include fsl(20px, 120%);
    letter-spacing: -0.4px;
  }
}

.about-block {
  margin: rem(120px) 0;

  @media #{media('<')} {
    margin: rem(48px) 0;
  }

  &-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: rem(60px);

    @media #{media('<')} {
      margin-bottom: rem(20px);
    }
  }
}

.swiper.slider-drop-container {
  padding: 0 $col-pad-d;
  margin: 0 (-$col-pad-d);

  @media #{media('<')} {
    padding: 0 $col-pad-m;
    margin: 0 (-$col-pad-m);
  }
}

.auto-slide {
  width: fit-content !important;
  height: auto !important;
  margin-right: $col-gap-d;

  @media #{media('<')} {
    margin-right: $col-gap-m;
  }

  &:last-child {
    margin-right: 0;
  }
}

.series-card {
  width: cols(3);
  height: 100%;
  padding: rem(40px);
  border-radius: rem(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #263039;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media #{media('<')} {
    width: rem(260px);
    padding: rem(20px) rem(20px) rem(40px);
    border-radius: rem(4px);
  }

  &__logo {
    height: rem(100px);
    margin-bottom: rem(40px);

    @media #{media('<')} {
      height: rem(50px);
      margin-bottom: rem(16px);
    }
  }
  &__ttl {
    @include fsl(28px);
    letter-spacing: -0.56px;
    margin-bottom: rem(20px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(12px);
    }
  }
  &__text {
    @include fsl(18px, 140%);
    letter-spacing: -0.18px;
    margin-top: auto;

    @media #{media('<')} {
      @include fsl(14px);
      letter-spacing: -0.14px;
    }
  }
}

.about-pagination {
  @media #{media('<')} {
    position: static !important;
  }

  .swiper-pagination-bullet {
    width: rem(226px);
    height: rem(4px);
    opacity: 0.2;
    background: #fff;
    border-radius: 0;

    @media #{media('<')} {
      width: rem(32px);
    }

    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}

.solutions-card {
  width: cols(6);
  height: 100%;
  border-radius: rem(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #263039;
  overflow: hidden;

  position: relative;
  display: grid;
  grid-template-columns: repeat(2, cols(3));
  gap: $col-gap-d;

  @media #{media('<')} {
    width: rem(260px);
    grid-template-columns: 100%;
    border-radius: rem(4px);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(40px);

    @media #{media('<')} {
      padding: rem(20px);
    }
  }
  &__title {
    @include fsl(28px);
    letter-spacing: -0.56px;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(10px);
    }
  }
  &__text {
    @include fsl(18px, 140%);
    letter-spacing: -0.18px;

    @media #{media('<')} {
      @include fsl(14px);
      letter-spacing: -0.14px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;

    @media #{media('<')} {
      height: rem(170px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(130px);

    @media #{media('<')} {
      width: rem(65px);
      top: unset;
      left: rem(20px);
      bottom: rem(100px);
      transform: unset;
    }
  }
}

.responsibility {
  margin: rem(120px) 0;

  @media #{media('<')} {
    margin: rem(48px) 0;
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, cols(6));
    gap: $col-gap-d;
    margin: rem(60px) 0;

    @media #{media('<')} {
      grid-template-columns: repeat(2, cols-mob(2));
      gap: $col-gap-m;
      margin: rem(12px) 0 rem(32px);
    }
    @media #{media('<', m)} {
      grid-template-columns: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    display: flex;
    gap: rem(12px);

    @include fsl(20px, 140%);
    letter-spacing: -0.2px;

    @media #{media('<')} {
      @include fsl(14px);
      letter-spacing: -0.14px;
      gap: rem(6px);
    }

    &::before {
      content: '[';
      color: var(--red);
      @include fsl(14px);
      margin-top: rem(2px);

      @media #{media('<')} {
        letter-spacing: -0.14px;
        margin-top: 0;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: rem(455px);
    border-radius: rem(8px);
    overflow: hidden;

    @media #{media('<')} {
      height: rem(177px);
      border-radius: rem(4px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    margin-top: rem(20px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-top: rem(12px);
    }
  }
}

.brands-card {
  position: relative;
  width: cols(4);
  border-radius: rem(8px);
  overflow: hidden;

  display: flex;

  @media #{media('<')} {
    width: rem(260px);
    height: rem(340px);
    border-radius: rem(4px);
  }

  &__img {
    display: flex;
  }

  &__content {
    position: absolute;
    inset: rem(40px);

    @media #{media('<')} {
      inset: rem(20px);
    }
  }

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;
    margin-bottom: rem(22px);

    @media #{media('<')} {
      @include fsl(20px, 120%);
      letter-spacing: -0.4px;
      margin-bottom: rem(12px);
    }
  }

  &__txt {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;

    @media #{media('<')} {
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
    }
  }
}

.brands-catalog-btn {
  margin-top: rem(20px);
  width: fit-content;
}

.group-buttons {
  display: flex;
  align-items: center;
  gap: rem(20px);
}

.model-section {
  @media #{media('<')} {
    display: grid;
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
  }
}

.about-model-cols {
  display: grid;
  grid-template-columns: repeat(2, cols(6));
  gap: $col-gap-d;

  @media #{media('<')} {
    grid-template-columns: 100%;
  }
}

.model-drop {
  &-cols {
    display: grid;
    grid-template-columns: cols-g(6) cols(6);

    @media #{media('<')} {
      grid-template-columns: 100%;
    }
  }

  &-title {
    @include fsl(28px);
    letter-spacing: -0.56px;
    margin-bottom: rem(24px);
  }

  &-list {
    width: rem(740px);

    li {
      position: relative;
      display: flex;
      gap: rem(12px);

      .dropdown {
        width: 100%;
        margin-bottom: rem(12px);
      }
    }
  }
  &-mark {
    margin-top: rem(28px);
    width: rem(11px);
    height: rem(11px);
    flex-shrink: 0;
    border-radius: rem(2px);
    background-color: var(--red);

    &-line {
      position: absolute;

      left: rem(5px);

      border-left: 1px dashed var(--red);

      &.top {
        top: rem(2px);
        height: rem(36px);
      }
      &.bottom {
        top: rem(36px);
        bottom: rem(1px);
      }
    }
  }
}

.main-bg2-section {
  padding: rem(60px) 0;
  background: var(--main-bg2);
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  @media #{media('<')} {
    padding: rem(16px) 0 rem(14px);
  }
}

.trust {
  display: flex;
  flex-direction: column;
  gap: rem(60px);

  @media #{media('<')} {
    gap: rem(16px);
  }

  &__tabs {
    flex-wrap: wrap;

    .tabs__item {
      @include fsl(22px, 120%);
      letter-spacing: -0.44px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, cols(3));
    gap: $col-gap-d;

    @media #{media('<')} {
      grid-template-columns: repeat(4, cols-mob(1));
      gap: $col-gap-m;
    }
    @media #{media('<', m)} {
      grid-template-columns: repeat(4, rem(150px));
      margin: 0 (-$col-pad-m);
      padding: 0 $col-pad-m;
      overflow-x: scroll;
      @include scrollbar-hidden;
    }
  }

  &__item {
    picture {
      width: 100%;
      height: rem(170px);
      border-radius: rem(8px);
      overflow: hidden;

      @media #{media('<')} {
        border-radius: rem(4px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__title {
    @include fsl(18px, 140%);
    letter-spacing: -0.18px;
    margin-top: rem(20px);

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
      margin-top: rem(12px);
      color: #848b92;
    }
  }
}

.history {
  margin-top: rem(120px);

  @media #{media('<')} {
    margin-top: rem(20px);
  }

  &-slider {
    position: relative;
    margin-top: rem(65px);

    @media #{media('<')} {
      margin-top: rem(20px);
    }
    @media #{media('<', m)} {
      display: flex;
      flex-direction: column-reverse;
      gap: rem(20px);
    }

    &__slide {
      display: grid !important;
      grid-template-columns: cols(5) cols(6);
      justify-content: space-between;
      gap: calc(#{cols-g(1)} + #{$col-gap-d});

      @media #{media('<')} {
        grid-template-columns: repeat(2, cols-mob(2));
        gap: $col-gap-m;
      }
      @media #{media('<', m)} {
        grid-template-columns: 100%;
        gap: rem(20px);
      }

      picture {
        width: 100%;
        display: flex;
        border-radius: rem(8px);
        overflow: hidden;

        @media #{media('<', m)} {
          order: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &__info {
      padding-top: rem(92px);

      @media #{media('<')} {
        padding-top: rem(40px);
      }
      @media #{media('<', m)} {
        padding-top: 0;
      }

      h4 {
        @include fsl(74px, 90%);
        letter-spacing: -2.96px;
        margin-bottom: rem(24px);

        @media #{media('<')} {
          @include fsl(32px, 100%);
          letter-spacing: -0.64px;
          margin-bottom: rem(8px);
        }
      }
      p {
        width: rem(625px);
        @include fsl(20px, 140%);
        letter-spacing: -0.2px;

        @media #{media('<')} {
          width: 100%;
          @include fsl(14px);
          letter-spacing: -0.14px;
        }
      }
    }

    #history-slider {
      width: 100%;
    }
    #history-thumbs {
      position: absolute;
      top: 0;
      right: 0;
      width: cols(6);

      @media #{media('<')} {
        width: cols-mob(2);
      }
      @media #{media('<', m)} {
        position: static;
        width: 100%;
      }

      .swiper-slide {
        width: fit-content;
        @include fsl(22px, 120%);
        letter-spacing: -0.44px;
        padding-bottom: rem(5px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;

        @media #{media('<')} {
          @include fsl(14px);
          letter-spacing: -0.14px;
          padding-bottom: rem(3px);
        }

        &.swiper-slide-thumb-active,
        &:hover {
          color: var(--red);
          border-color: var(--red);
        }

        &:not(:last-child) {
          margin-right: rem(24px);

          @media #{media('<')} {
            margin-right: rem(8px);
          }
        }
      }
    }
    .controls {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: cols(6);
    }
  }
}

.model-drop {
  .dropdown-button {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    align-items: stretch;
  }

  .dropdown-button__inner {
    display: flex;
    align-items: center;
    gap: rem(24px);
    padding: rem(20px) 0;
  }
  .model-svg {
    width: rem(50px);
    height: rem(50px);
  }
  .dropdown-arrow {
    padding: rem(30px);
  }
  .dropdown-inner {
    padding: rem(24px);
  }
  .model-drop-list {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;

    li {
      padding: rem(6px) 0;

      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }

      .model-drop-mark-line.top {
        top: rem(1px);
        height: rem(13px);
      }
      .model-drop-mark-line.bottom {
        top: rem(12px);
        bottom: rem(1px);
      }
    }

    .model-drop-mark {
      margin-top: rem(10px);
    }
  }
}
