.catalog-top {
  margin: rem(60px) 0 rem(40px);

  display: flex;
  flex-direction: column;
  gap: rem(40px);

  @media #{media('<')} {
    margin: rem(24px) 0;
  }

  &__title {
    @include fsl(28px);
    letter-spacing: -0.56px;
  }

  &__drops {
    margin-top: rem(20px);
    display: grid;
    grid-template-columns: repeat(4, cols(3));
    gap: $col-gap-d;
  }

  &__row {
    margin-top: rem(20px);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(6px);

    @media #{media('<')} {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__checks {
    display: flex;
    align-items: center;
    gap: rem(24px);
    margin-top: rem(24px);
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: rem(12px);

    @include fsl(18px, 110%);
    letter-spacing: -0.36px;
    color: #fff;

    margin-left: auto;
    transition: $transition;

    &:hover {
      color: var(--red);

      svg path {
        stroke: var(--red);
      }
    }

    svg {
      width: rem(24px);
      height: rem(24px);
      flex-shrink: 0;
      path {
        transition: $transition;
      }
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(2, cols-mob(2));
    align-items: center;
    justify-content: space-between;
    gap: rem(12px);
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(4px);

    padding: rem(14px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: rem(4px);

    @include fsl(14px);
    letter-spacing: -0.14px;
    color: #fff;
    white-space: nowrap;

    svg {
      width: rem(20px);
      height: rem(20px);
    }
  }
}

.catalog-filter-all {
  display: flex;
  align-items: center;
  gap: rem(38px);

  @include fsl(18px);
  letter-spacing: -0.36px;
  padding: rem(19px) rem(20px) rem(19px) rem(18px);

  background: var(--red);
  border-color: var(--red);
  border-radius: rem(6px);

  svg {
    width: rem(24px);
    width: rem(24px);
  }
}
