.contacts-page {
  margin-bottom: rem(120px);

  @media #{media('<')} {
    margin-bottom: rem(48px);
  }
}

.contacts-top {
  display: grid;
  grid-template-columns: cols(5) 1fr;
  align-items: center;
  gap: $col-gap-d;

  @media #{media('<')} {
    grid-template-columns: 100%;
    gap: rem(16px);
  }
}

.contacts-map {
  display: grid;
  grid-template-columns: cols(5) 1fr;
  grid-template-rows: repeat(2, rem(280px));
  gap: $col-gap-d;

  margin: rem(60px) 0 rem(119px);

  @media #{media('<')} {
    margin: rem(24px) 0 rem(48px);
    grid-template-columns: repeat(2, cols-mob(2));
    grid-template-rows: rem(140px) rem(240px);
    gap: $col-gap-m;
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
    grid-template-rows: rem(140px) rem(140px) rem(195px);
  }

  #map {
    border-radius: rem(8px);
    @media #{media('>')} {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    @media #{media('>', m)} and #{media('<')} {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    @media #{media('<')} {
      order: 1;
      border-radius: rem(4px);
    }
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.contacts-map-info {
  border-radius: rem(8px);
  padding: rem(40px);
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: right;
  background-size: rem(280px);

  @media #{media('<')} {
    background-size: rem(150px);
    border-radius: rem(4px);
    padding: rem(12px) rem(12px) rem(23px);
  }

  &.light-blue {
    background-color: #3b6a88;
    background-image: url('assets/images/svg/contacts-map-1.png');
  }
  &.dark-blue {
    background-color: #29475f;
    background-image: url('assets/images/svg/contacts-map-2.png');
  }

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;
    margin-bottom: rem(25px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(8px);
    }
  }

  &__text {
    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
    @media #{media('<')} {
      @include fsl(12px);
      letter-spacing: -0.12px;
    }
  }

  &__list {
    margin-top: rem(32px);
    @include fsl(24px, 140%);
    letter-spacing: -0.24px;
    gap: rem(4px);

    @media #{media('<')} {
      margin-top: rem(16px);
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
    }
  }
}

.contacts-cards {
  margin: rem(60px) 0 rem(140px);
  @media #{media('<')} {
    margin: rem(48px) 0;
  }

  &-list {
    margin-top: rem(60px);

    display: grid;
    grid-template-columns: repeat(4, cols(3));
    gap: $col-gap-d;

    @media #{media('<')} {
      margin-top: rem(16px);
      grid-template-columns: repeat(2, cols-mob(2));
      gap: $col-gap-m;
    }
    @media #{media('<', m)} {
      grid-template-columns: 100%;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;

    min-height: rem(270px);
    padding: rem(24px);
    border-radius: rem(8px);
    background: var(--main-bg2);

    @media #{media('<')} {
      min-height: auto;
      padding: rem(16px);
      border-radius: rem(4px);
    }

    &__contacts {
      margin-top: rem(27px);

      display: flex;
      flex-direction: column;
      gap: rem(4px);

      @include fsl(18px, 140%);
      letter-spacing: -0.18px;

      @media #{media('<')} {
        margin-top: rem(8px);
        @include fsl(13px);
        letter-spacing: -0.13px;
      }
    }
  }

  &__text {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(16px);
    }
  }
  &__name {
    margin-top: auto;
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
    }
  }
}

.contacts-bottom {
}

.contacts-form {
  margin-top: rem(60px);

  display: grid;
  grid-template-columns: repeat(4, cols(3));
  gap: $col-gap-d;

  @media #{media('<')} {
    margin-top: rem(16px);
    grid-template-columns: repeat(4, 1fr);
    gap: $col-gap-m;
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
    gap: rem(8px);
  }

  .form-label {
    &:nth-child(5) {
      @media #{media('>', m)} {
        grid-column: 1 / 5;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{media('>', m)} {
      grid-column: 1 / 5;
    }

    @media #{media('<')} {
      align-items: flex-start;
    }
    @media #{media('<', m)} {
      flex-direction: column;
      gap: rem(8px);
    }
  }

  &__submit {
    width: rem(170px);
    justify-content: space-between;

    @media #{media('>')} {
      width: cols(3);
      height: rem(100px);

      @include fsl(24px);
      letter-spacing: -0.48px;

      .button__ico {
        width: rem(100px);
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    @media #{media('<', m)} {
      width: 100%;
      height: rem(50px);
      justify-content: center;

      .button__ico {
        display: none;
      }
    }
  }
}
