.first-screen {
  display: grid;
  grid-template-columns: repeat(4, cols(3));
  grid-template-rows: repeat(2, rem(360px));
  gap: $col-gap-d;

  &-slider {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    border-radius: rem(8px);
    overflow: hidden;

    &__content {
      position: relative;
      padding: rem(37px) rem(32px) 0;
    }

    &__title {
      position: relative;
      @include fsl(56px, 100%);
      font-weight: 400;
      letter-spacing: -2.24px;
    }

    &__text {
      margin-top: rem(24px);
      width: rem(624px);
      @include fsl(20px, 140%);
      font-weight: 400;
      letter-spacing: -0.2px;
    }

    &__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-cell {
    position: relative;
    padding: rem(32px);
    border-radius: rem(8px);
    overflow: hidden;
    background: #e3e3e3;

    &__title {
      position: relative;
      @include fsl(28px, 100%);
      font-weight: 400;
      letter-spacing: -0.56px;
    }

    &__bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.first-bottom {
  margin: rem(120px) 0;

  display: flex;
  flex-direction: column;
  gap: rem(60px);

  &__title {
    @include fsl(56px, 100%);
    font-weight: 400;
    letter-spacing: -2.24px;
    width: cols(8);
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, rem(465px));
    gap: rem(125px);
    padding: 0 cols-g(2);

    @include fsl(20px, 140%);
    letter-spacing: -0.2px;
  }

  &__col {
    display: flex;
    gap: rem(12px);

    &::before {
      content: '[';
      @include fsl(20px, 100%);
      color: var(--red);
      text-transform: uppercase;
    }
  }
}

.main-title {
  margin-bottom: rem(60px);
}

.solutions {
  padding: rem(60px) 0;
  background: var(--main-bg2);

  &-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(20px);
  }

  &-item {
    position: relative;
    height: rem(420px);
    border-radius: rem(6px);
    overflow: hidden;

    &__ttl {
      position: absolute;
      top: rem(20px);
      left: rem(20px);
      right: rem(20px);

      @include fsl(24px, 100%);
      letter-spacing: -0.48px;
    }

    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.news {
  padding: rem(125px) 0 rem(120px);

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, cols(3));
  align-items: start;
  gap: $col-gap-d;

  margin-top: rem(60px);
}

.news-item {
  &:first-child {
    grid-column: 1 / 3;
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: rem(8px);
    overflow: hidden;
  }

  &__info {
    margin-top: rem(20px);
    @include fsl(14px);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    gap: rem(24px);
  }

  &__tag span {
    color: var(--red);
  }

  &__title {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    margin-top: rem(12px);
  }
}
