.first-screen {
  display: grid;
  grid-template-columns: repeat(4, cols(3));
  grid-template-rows: repeat(2, rem(360px));
  gap: $col-gap-d;

  @media #{media('<')} {
    margin-top: rem(12px);
    grid-template-columns: repeat(4, cols-mob(1));
    grid-template-rows: repeat(2, rem(177px));
    gap: $col-gap-m;
  }
  @media #{media('<', m)} {
    grid-template-columns: repeat(2, cols-mob(2));
    grid-template-rows: rem(506px) repeat(2, rem(120px));
  }

  &-slider {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    border-radius: rem(8px);
    overflow: hidden;

    @media #{media('<', m)} {
      grid-row: 1 / 2;
    }

    .swiper {
      height: 100%;
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: rem(37px) rem(32px) 0;

      @media #{media('<')} {
        padding: rem(20px);
      }
    }

    &__title {
      position: relative;
      @include fsl(56px, 100%);
      font-weight: 400;
      letter-spacing: -2.24px;

      @media #{media('<')} {
        @include fsl(20px, 120%);
        letter-spacing: -0.8px;
      }
    }

    &__text {
      margin-top: rem(24px);
      width: rem(624px);
      @include fsl(20px, 140%);
      letter-spacing: -0.2px;

      @media #{media('<')} {
        width: auto;
        margin-top: rem(12px);
        @include fsl(14px, 140%);
        letter-spacing: -0.14px;
      }
    }

    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__pagination {
      .swiper-pagination-bullet {
        width: rem(197px);
        height: rem(4px);
        opacity: 0.2;
        background: #fff;
        border-radius: 0;

        @media #{media('<')} {
          width: rem(70px);
        }

        &.swiper-pagination-bullet-active {
          opacity: 1;
        }
      }
    }
  }

  &-cell {
    position: relative;
    border-radius: rem(8px);
    overflow: hidden;

    &:not(.no-hover):hover .first-screen-cell__bg {
      &::before {
        background: rgba(0, 0, 0, 0.2);
      }
      img {
        transform: scale(1.1);
      }
    }

    @media #{media('<')} {
      border-radius: rem(4px);
    }

    &__title {
      position: absolute;
      top: rem(32px);
      left: rem(32px);
      @include fsl(28px, 100%);
      letter-spacing: -0.56px;

      @media #{media('<')} {
        @include fsl(16px, 100%);
        letter-spacing: -0.32px;
        top: rem(20px);
        left: rem(20px);
      }
    }

    &__bg {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &::after,
      &::before {
        content: '';
        position: absolute;
        inset: 0;

        transition: $transition;
      }
      &::after {
        background: linear-gradient(
          180deg,
          rgba(15, 15, 15, 0.38) 0%,
          rgba(14, 26, 36, 0) 100%
        );
      }
      &::before {
        background: rgba(22, 22, 22, 0.1);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition;
      }
    }
  }
}

.first-bottom {
  display: flex;
  flex-direction: column;
  gap: rem(60px);
  padding: rem(120px) $col-pad-d rem(120px) 0;
  margin-right: -$col-pad-d;

  background-image: url('assets/images/main-pattern.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: rem(650px);

  @media #{media('>', m)} and #{media('<')} {
    display: grid;
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
  }

  @media #{media('<')} {
    padding: rem(48px) $col-pad-m;
    margin: 0 (-$col-pad-m);
    gap: rem(20px);
  }

  &__title {
    @include fsl(56px, 100%);
    letter-spacing: -2.24px;
    width: cols(8);

    @media #{media('<')} {
      width: auto;
      @include fsl(20px, 120%);
      letter-spacing: -0.4px;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: repeat(2, rem(482px));
    gap: rem(125px);
    padding: 0 cols-g(2);

    @include fsl(20px, 140%);
    letter-spacing: -0.2px;

    @media #{media('<')} {
      grid-template-columns: 100%;
      gap: rem(16px);
      padding: 0;
      @include fsl(14px, 140%);
      letter-spacing: -0.14px;
    }
  }

  &__col {
    display: flex;
    gap: rem(12px);

    &::before {
      content: '[';
      width: rem(5px);
      @include fsl(20px, 100%);
      color: var(--red);
      text-transform: uppercase;

      @media #{media('<')} {
        @include fsl(14px);
      }
    }
  }
}

.main-title {
  margin-bottom: rem(60px);
  @media #{media('<')} {
    margin-bottom: rem(20px);
  }
}

.solutions {
  padding: rem(60px) 0;
  background: var(--main-bg2);
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);

  @media #{media('<')} {
    padding: rem(20px) 0;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: rem(20px);

    @media #{media('<')} {
      display: flex;
      gap: rem(12px);
      overflow-x: scroll;

      margin: 0 (-$col-pad-m);
      padding: 0 $col-pad-m;

      @include scrollbar-hidden;
    }
  }

  &-item {
    position: relative;
    height: rem(420px);
    border-radius: rem(6px);
    overflow: hidden;

    @media #{media('<')} {
      width: rem(186px);
      height: rem(286px);
      flex: none;
    }

    &:hover .solutions-item__bg img {
      transform: scale(1.1);
    }

    &__ttl {
      position: absolute;
      top: rem(20px);
      left: rem(20px);
      right: rem(20px);

      @include fsl(24px, 100%);
      letter-spacing: -0.48px;

      @media #{media('<')} {
        top: rem(16px);
        left: rem(16px);
        right: rem(16px);

        @include fsl(16px, 120%);
        letter-spacing: -0.32px;
      }
    }

    &__bg {
      width: 100%;
      height: 100%;
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: $transition;
      }
    }

    svg {
      position: absolute;
      left: rem(20px);
      bottom: rem(20px);
      height: rem(80px);
      width: rem(80px);

      @media #{media('<')} {
        left: rem(16px);
        bottom: rem(16px);
        height: rem(60px);
        width: rem(60px);
      }
    }
  }
}

.news {
  padding: rem(125px) 0 rem(120px);

  @media #{media('<')} {
    padding: rem(48px) 0 rem(58px);
  }

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, cols(3));
  align-items: start;
  gap: $col-gap-d;

  @media #{media('>')} {
    .news-item:first-child {
      grid-column: 1 / 3;

      .news-item__img {
        height: rem(485px);
      }
    }
  }
}
.big-news .news-item__img {
  height: rem(485px);
}

.news-slider {
  @media #{media('>')} {
    display: grid;
    grid-template-columns: repeat(2, cols(6));
    align-items: start;
    gap: $col-gap-d;

    .swiper {
      width: 100%;
    }
  }

  position: relative;
  margin-top: rem(60px);
  @media #{media('<')} {
    margin-top: rem(20px);

    .swiper {
      margin: 0 (-$col-pad-m) 0;
      padding: 0 $col-pad-m;
    }
  }

  &__more {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: var(--main-bg);

    @media #{media('<')} {
      position: static;
      width: fit-content;
      margin-top: rem(20px);
    }
  }
}

.swiper-slide.news-slide {
  width: cols(3);
  margin-right: $col-gap-d;
  @media #{media('<')} {
    width: fit-content;
    margin-right: $col-gap-m;
  }
  &::last-child {
    margin-right: 0;
  }
}
