.news-filters {
  @media #{media('>')} {
    margin: rem(60px) 0;
  }
  @media #{media('<')} {
    margin-top: rem(24px);
    margin-bottom: rem(16px);
  }
}

.news-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: $col-gap-d;
  row-gap: rem(60px);

  margin: rem(60px) 0 rem(120px);

  @media #{media('<')} {
    grid-template-columns: repeat(2, cols-mob(2));
    row-gap: rem(24px);
    column-gap: $col-gap-m;
    margin: rem(16px) 0 rem(48px);

    .news-item {
      width: 100%;
    }
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
  }
}

.lib-docs {
  display: flex;
  flex-direction: column;
  gap: rem(12px);
  margin: rem(60px) 0 rem(36px);
  @media #{media('<')} {
    margin: rem(24px) 0;
  }
}
