.search-form {
  display: flex;
  flex-direction: column;
  gap: rem(20px);

  width: cols(6);
  margin: rem(60px) 0;

  @media #{media('<')} {
    width: 100%;
    margin: rem(24px) 0;
    gap: rem(12px);
  }
}

.search {
  display: flex;
  align-items: center;

  width: 100%;
  height: rem(60px);

  border-radius: rem(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: rem(8px);

  transition: $transition;

  @media #{media('<')} {
    width: rem(44px);
    height: rem(44px);
    justify-content: center;
    flex: none;

    margin-left: rem(2px);
  }

  cursor: text;

  // &:has(input:focus) {
  //   background: var(--green2);

  //   .header__search-button,
  //   .header__search-reset {
  //     opacity: 1;
  //     cursor: pointer;
  //   }

  //   .header__search-ico path {
  //     stroke: var(--green-text);
  //   }
  // }

  &__input {
    width: 100%;
    padding: rem(8px) rem(8px) rem(8px) rem(24px);
    input {
      border: none;
      background: transparent;
      height: 100%;
      width: 100%;
      margin-left: rem(20px);

      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  &__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;

    width: rem(60px);
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.1);

    @media #{media('<')} {
      width: 100%;
      border-right: none;
    }

    svg {
      width: rem(20px);
      height: rem(20px);

      flex: none;

      @media #{media('<')} {
        width: rem(16px);
        height: rem(16px);
      }
    }

    // @media #{media('<')} {
    //   width: rem(16px);
    //   height: rem(16px);
    // }

    path {
      transition: $transition;
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: rem(20px);
    flex: none;

    opacity: 0;
    cursor: text;
    transition: $transition;

    svg {
      width: rem(24px);
      height: rem(24px);
      flex: none;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    @include fsl(16px, 100%);
    letter-spacing: -0.16px;

    height: 100%;
    padding: rem(10px) rem(24px);
    border-radius: rem(16px);
    background: var(--yellow);

    margin-left: auto;
    flex: none;
    opacity: 0;
    cursor: text;
    transition: $transition;
  }
}

.search-counter {
  @include fsl(18px, 120%);

  @media #{media('<')} {
    @include fsl(14px);
  }
  @media #{media('>')} {
    letter-spacing: -0.36px;
  }

  span {
    color: #507e9b;
  }
}

.search-result {
  padding: rem(48px);
  margin: 0 rem(12px) rem(12px);
  background: #fff;
  border-radius: rem(12px);

  @media #{media('<')} {
    padding: rem(8px) rem(8px) rem(24px);
    margin: 0 rem(4px) rem(4px);
    border-radius: rem(6px);
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $col-gap-d;

    @media #{media('<')} {
      grid-template-columns: 100%;
      gap: rem(8px);
    }
  }
}

.more-button {
  display: flex;
  align-items: center;
  margin: rem(60px) auto 0;
  padding-left: rem(32px);

  border-radius: rem(6px);
  background: var(--blue);

  @include fsl(18px);
  letter-spacing: -0.36px;
  color: #fff;

  @media #{media('<')} {
    margin: rem(24px) auto 0;
    padding-left: rem(12px);
    @include fsl(12px);
    letter-spacing: -0.24px;
  }

  &__ico {
    display: flex;
    padding: rem(20px);
    margin-left: rem(20px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    @media #{media('<')} {
      padding: rem(14px) rem(12px);
      margin-left: rem(12px);
    }

    svg {
      width: rem(20px);
      height: rem(20px);

      @media #{media('<')} {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }
}
