.solutions-text {
  width: cols(5);
  margin: rem(60px) 0;
  @include fsl(20px, 140%);
  letter-spacing: -0.2px;

  @media #{media('<')} {
    width: 100%;
    margin: rem(24px) 0;
    @include fsl(15px);
    letter-spacing: -0.15px;
  }
}

.solutions-ways {
  margin: rem(60px) 0;
  display: grid;
  grid-template-columns: repeat(2, cols(6));
  gap: $col-gap-d;

  @media #{media('<')} {
    margin: rem(24px) 0 rem(200px);
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
  }
  @media #{media('<', m)} {
    grid-template-columns: 100%;
  }

  &__item {
    width: 100%;
    height: rem(368px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(24px);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: rem(6px);

    transition: $transition;

    @media #{media('<')} {
      height: rem(120px);
      gap: rem(16px);
    }

    &:hover {
      border-color: var(--red);

      .solutions-ways__arrow {
        border-color: var(--red);
        background: var(--red);
      }
    }
  }

  &__title {
    @include fsl(28px);
    letter-spacing: -0.56px;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: rem(60px);
    height: rem(60px);

    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);

    transition: $transition;

    @media #{media('<')} {
      width: rem(40px);
      height: rem(40px);
    }

    svg {
      width: rem(20px);
      height: rem(20px);
      flex-shrink: 0;
    }
  }
}

.solutions-steps {
  margin: rem(60px) 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(6px);

  @media #{media('<')} {
    margin: rem(24px) (-$col-pad-m);
    padding: 0 $col-pad-m;

    gap: rem(4px);
    overflow-x: auto;
    @include scrollbar-hidden;
  }

  &__item {
    display: flex;
    @media #{media('>')} {
      align-items: center;
      gap: rem(6px);

      &:not(:first-child)::before {
        content: '';
        width: rem(20px);
        height: rem(20px);
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_166_30911)'%3E%3Cpath d='M7.80343 3.91687L7 4.7203L12.2802 9.99997L7 15.2802L7.80343 16.0836L13.8871 9.99997L7.80343 3.91687Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_166_30911'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-size: cover;
      }
    }
  }
}

.solutions-title {
  display: flex;
  align-items: center;
  gap: rem(33px);
  margin: rem(40px) 0;

  @media #{media('<')} {
    gap: rem(12px);
    margin: rem(20px) 0;
  }

  h3 {
    @include fsl(36px);
    letter-spacing: -1.44px;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
    }
  }
}

.solutions-choice {
  display: grid;
  gap: rem(4px);
  margin-bottom: rem(48px);

  @media #{media('>', m)} {
    grid-template-columns: repeat(2, cols-mob(2));
    gap: $col-gap-m;
  }
  @media #{media('>')} {
    grid-template-columns: repeat(3, cols(4));

    gap: rem(20px);
    margin-bottom: rem(120px);
  }

  &-card {
    display: flex;
    align-items: center;
    gap: rem(24px);

    @include fsl(18px, 130%);
    letter-spacing: -0.36px;

    padding: rem(24px);
    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    cursor: pointer;
    transition: $transition;

    @media #{media('<')} {
      @include fsl(15px);
      letter-spacing: -0.15px;

      gap: rem(16px);
      padding: rem(16px);
      border-radius: rem(4px);
    }

    &:hover {
      border-color: var(--red);
    }

    svg {
      width: rem(24px);
      height: rem(24px);
      flex-shrink: 0;
    }
  }
}

.solutions-result {
  margin-top: rem(80px);
  @media #{media('<')} {
    margin-top: rem(24px);
  }

  &__top {
    margin-bottom: rem(40px);

    @media #{media('<')} {
      margin-bottom: rem(16px);
    }
  }

  &__title {
    @include fsl(36px);
    letter-spacing: -1.44px;
    color: var(--main-bg);
    margin-bottom: rem(24px);

    @media #{media('<')} {
      @include fsl(18px);
      letter-spacing: -0.36px;
      margin-bottom: rem(12px);
      margin-top: rem(8px);
    }
  }

  &__tag {
    width: fit-content;
    padding: rem(12px) rem(16px);
    background: var(--red);
    border-radius: rem(4px);

    @include fsl(20px, 110%);
    text-transform: uppercase;

    @media #{media('<')} {
      padding: rem(8px) rem(12px);
      @include fsl(12px);
    }
  }

  &__extra {
    margin-top: rem(120px);
    @media #{media('<')} {
      margin-top: rem(48px);
    }
  }
}

.solutions-note {
  @include fsl(20px, 140%);
  letter-spacing: -0.2px;
  margin: rem(40px) 0;

  @media #{media('<')} {
    @include fsl(15px);
    letter-spacing: -0.15px;
    margin: rem(24px) 0;
  }
}

.solutions-queries {
  width: cols(8);
  margin-top: rem(60px);

  @media #{media('<')} {
    width: 100%;
    margin-top: rem(48px);
  }

  &__title {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    margin-bottom: rem(20px);

    @media #{media('<')} {
      @include fsl(18px);
      letter-spacing: -0.36px;
      margin-bottom: rem(16px);
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8px);

    @media #{media('<')} {
      gap: rem(4px);
    }
  }
  &__item {
    @include fsl(18px, 130%);
    letter-spacing: -0.36px;

    padding: rem(16px) rem(20px);
    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);

    cursor: pointer;
    transition: $transition;

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
      padding: rem(12px);
    }

    &:hover {
      border-color: var(--red);
    }
  }
}

.solutions-search {
  padding-bottom: rem(120px);
  @media #{media('<')} {
    padding-bottom: rem(48px);
  }

  .search-form {
    width: cols(8);
    margin: rem(40px) 0 rem(60px);

    @media #{media('<')} {
      width: 100%;
      margin: rem(24px) 0 rem(48px);
    }
  }
}
