.where-buy-top {
  margin: rem(60px) 0 rem(40px);

  display: flex;
  flex-direction: column;
  gap: rem(20px);

  @media #{media('<')} {
    margin: rem(24px) 0;
    gap: rem(16px);
  }
}

.where-buy-main {
  height: rem(710px);
  margin: rem(40px) 0;

  display: grid;

  column-gap: $col-gap-d;
  row-gap: rem(12px);

  @media #{media('>')} {
    grid-template-columns: cols(3) cols(9);
    grid-template-rows: rem(60px) 1fr;
  }
  @media #{media('<')} {
    grid-template-areas: 'main';
    margin: rem(24px) 0 rem(48px);
  }

  #map {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
    border-radius: rem(4px);

    @media #{media('>')} {
      grid-row: 1/3;
      grid-column: 2/3;
      border-radius: rem(8px);
    }
    @media #{media('<')} {
      grid-area: main;
      pointer-events: none;
      opacity: 0;

      &.show {
        pointer-events: all;
        opacity: 1;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.where-buy-list {
  display: flex;
  flex-direction: column;
  gap: rem(8px);

  height: 100%;
  padding: rem(12px);
  border-radius: rem(8px);
  background: #263039;
  overflow-y: auto;
  @include styled-scrollbar;

  @media #{media('<')} {
    grid-area: main;
    pointer-events: none;
    opacity: 0;

    padding: rem(8px);

    &.show {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.where-buy-item {
  padding: rem(20px);
  border-radius: rem(6px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: $transition;
  cursor: pointer;

  @media #{media('<')} {
    padding: rem(16px);
    border-radius: rem(4px);
  }

  &.active {
    background: var(--blue3);
    border-color: var(--blue3);
  }
  &:hover {
    border-color: var(--blue3);
  }

  &__title {
    @include fsl(22px, 120%);
    letter-spacing: -0.44px;
    margin-bottom: rem(12px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(16px);
    }
  }

  &__text {
    @include fsl(18px);
    letter-spacing: -0.36px;
    margin-bottom: rem(12px);

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;
      margin-bottom: rem(8px);
    }
  }

  ul {
    @include fsl(18px, 140%);
    letter-spacing: -0.18px;
    gap: rem(4px);

    @media #{media('<')} {
      @include fsl(13px);
      letter-spacing: -0.13px;

      li::before {
        margin-right: rem(4px);
      }
    }
  }
}

.where-buy-fiz {
  display: flex;
  flex-direction: column;
  gap: rem(60px);
  margin: rem(60px) 0 rem(120px);

  @media #{media('<')} {
    gap: rem(24px);
    margin: rem(32px) 0 rem(48px);
  }

  &__title {
    @include fsl(28px, 100%);
    letter-spacing: -0.56px;
    margin-bottom: rem(28px);

    @media #{media('<')} {
      @include fsl(16px);
      letter-spacing: -0.32px;
      margin-bottom: rem(12px);
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(6, cols(2));
    gap: $col-gap-d;

    @media #{media('<')} {
      grid-template-columns: repeat(4, cols-mob(1));
      gap: $col-gap-m;
    }
    @media #{media('<', m)} {
      grid-template-columns: repeat(2, cols-mob(2));
    }
  }
  &__item {
    position: relative;
    width: 100%;
    height: rem(140px);
    border-radius: rem(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #263039;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: $transition;

    @media #{media('<')} {
      height: rem(125px);
      border-radius: rem(4px);
    }

    &:hover {
      border-color: var(--red);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    svg {
      position: absolute;
      top: rem(12px);
      right: rem(12px);
      width: rem(20px);
      height: rem(20px);

      @media #{media('<')} {
      }
    }
  }
}

.where-buy-tabs {
  margin: rem(24px) 0;
}
