mixin footer
  -
    const col1 = ['О компании', 'Технологии', 'Библиотека защиты', 'Новости', 'Контакты', 'Где купить']

  footer.footer
    .container
      .footer__main
        a.header__logo(href='')
          img(src='assets/images/svg/logo.svg', alt='logo')
        //- .footer__main-col1-container
        .footer__main-col1
          each el, i in col1
            a(href='')
              //- +footer-list1(i)
              span #{ el } 
        .footer__contacts
          .footer__contacts-col
            a.footer__tel(href='tel:+74950330331') +7 495 033-033-1
            a.footer__mail(href='mailto:info@manipulas.ru') info@manipulas.ru

            .footer__address
              .footer__address-txt 121471, Москва, ул. Рябиновая, 26/2, БЦ «West Plaza»
              button.footer__address-btn
                +map
                span На карте

          a.footer__social(href)
            +vk

      .footer__bottom
        div
          //- .footer__contacts
          //-   .footer__contacts-col
          //-     span По телефону
          //-     a(href='tel:84997559790') 8 499 755-97-90
          //-   .footer__contacts-col
          //-     span По электронной почте
          //-     a(href='mailto:zakaz@gurmanych.ru') zakaz@gurmanych.ru
          //-     a(href='mailto:gurmanych@bk.ru ') gurmanych@bk.ru

        //- .footer__social
        //-   each el, i in socials
        //-     a.footer__social-item(href)
        //-       //- +socials(i)
        //-       span #{ el }

      .footer__corp
        .footer__rights © 2008-2023 ООО «Манипула Специалист»
        a.footer__policy(href='') Политика конфиденциальности
        .footer__author Сделано в #[a(href) Клаудмил]
