mixin header
  -
    const nav = ['О компании', 'Технологии', 'Библиотека защиты', 'Новости', 'Контакты', 'Где купить']

  header.header
    .header__container
      .header__row
        ul.header__nav
          each el, i in nav
            li
              a.header__nav-item(href='') #{ el }

        .header__contacts.only-desktop
          a(href='tel:89123456789') 8 912 345-67-89
          span •
          a(href='mailto:order@roshal.eco') order@roshal.eco

      .header__row
        a.header__logo(href='')
          img(src='assets/images/svg/logo.svg', alt='logo')

        button.header__catalog(data-catalog-button)
          span Каталог СИЗ рук
          +double-arrow-down

        button.header__selection.only-desktop
          span Подобрать защитное решение
          +double-arrow-right

        label.header__search
          .header__search-ico
            +search
          .header__search-input.only-desktop
            input.only-desktop(
              type='search',
              name='search',
              placeholder='Введите запрос',
              data-search
            )
          //- button.header__search-reset(data-search-reset)
            //- +search-cross
          //- button.header__search-button Найти

        //- button.header__search.only-mobile
        //-   +search

        button.header__profile.only-desktop
          span Личный кабинет дистрибьютора
          .header__profile-ico
            +profile

        button.burger.only-mobile
          +burger
