mixin header
  -
    const nav = ['О компании', 'Технологии', 'Библиотека защиты', 'Новости', 'Контакты', 'Где купить']

  header.header
    .header__container
      .header__row
        ul.header__nav
          each el, i in nav
            li
              a.header__nav-item(href='') #{ el }

        .header__contacts.only-desktop
          a.header__tel(href='tel:+74950330331') +7 495 033-033-1
          a.button.button--small(href='')
            span Мы Вконтакте
            .button__ico
              +vk-blue
          button.button.button--blue.button--small(data-fancy-button='write')
            span Написать нам
            .button__ico
              +msg

      .header__row
        a.header__logo(href='')
          img(src='assets/images/svg/logo.svg', alt='logo')

        button.button.button--red.header__catalog(data-catalog-button)
          span Каталог СИЗ рук
          .button__ico
            +double-arrow-down

        button.button.button--blue.only-desktop
          span Подобрать защитное решение
          .button__ico
            +double-arrow-right

        label.search.only-desktop
          .search__ico
            +search
          .search__input
            input(
              type='search',
              name='search',
              placeholder='Введите запрос',
              data-search
            )
          //- button.header__search-reset(data-search-reset)
            //- +search-cross
          //- button.header__search-button Найти

        button.header__search.only-mobile
          +search

        button.header__profile.only-desktop(data-fancy-button='login')
          span Личный кабинет дистрибьютора
          .header__profile-ico
            +profile

        button.burger.only-mobile
          +burger
