.lk-sidebar-container
  .lk-sidebar
    .lk-sidebar-block.lk-sidebar-contacts
      .lk-sidebar-block__subtitle Ваш персональный менеджер
      .lk-sidebar-block__title Игорь Давидов

      ul.list-red-dot
        li
          a(href='tel:+79811579290') +7 981 157 9290
        li
          a(href='mailto:id@manipulas.ru') id@manipulas.ru

    .lk-sidebar-block
      nav.lk-sidebar-nav
        ul
          li.active Программа лояльности
          li
            a(href='') Профиль
          li
            a(href='') Дистрибьюторское соглашение
          li
            a(href='') Программа маркетинговой поддержки
          li
            a(href='') POS-материалы

      button.lk-exit
        +exit
        span Выйти
