.subscribe
  .subscribe__title Подпишитесь на нас, &nbsp; #[br.only-mobile-no-tab] чтобы быть &nbsp; #[br.only-tablet] в курсе!

  form.subscribe__form(data-subscribe-form)
    label.form-label
      input.form-input(type='email', required, data-input)
      span.form-placeholder E-mail

    button.subscribe__submit
      +send

    .form-note(data-fancy-button='policy') Нажимая на кнопку «Подписаться», вы даете согласие на #[span.red Политику&nbsp; #[br.only-mobile] конфиденциальности]
